*.csv
src/*
vendor/*
vars.yml
.*.sw*

*.pyc
*.pyo
*.egg-info
.vscode/
local-dev.yml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

.env.local
secrets.json

# Cypress
e2e/cypress/videos/*
e2e/cypress/screenshots/*
e2e/cypress/results/output.xml
e2e/cypress/fixtures/api_token.json
node_modules
package-lock.json

ckan/setup/solr/*.zip
*kubeconfig*
tmp
scan.json
