version: "3"

services:
  ckan:
    image: ghcr.io/gsa/catalog.data.gov:latest
    command: /app/ckan/setup/ckan_setup.sh
    env_file: .env
    depends_on:
      - db
      - solr
      - redis
    ports:
      - "0.0.0.0:${PORT}:5000"
    volumes:
      - ./src:/srv/app/src_extensions
      - ckan_storage:/var/lib/ckan
      - ./ckan/setup/GSA_prerun.py:/srv/app/GSA_prerun.py
      - ./ckan/docker-entrypoint.d/:/docker-entrypoint.d/
      - .:/app

  db:
    env_file:
      - .env
    image: ghcr.io/gsa/catalog.data.gov.db:latest
    volumes:
      - pg_data:/var/lib/postgresql/data

  solr:
    image: ghcr.io/gsa/catalog.data.gov.solr:8-stunnel-root
    command: /app/solr/local_setup.sh
    ports:
      - "8983:8983"
    deploy:
      replicas: 1
    volumes:
      - solr_data:/var/solr
      - .:/app

  redis:
    image: redis:alpine

  nginx:
    image: nginx
    links:
      - ckan
    ports:
      - "8443:443"
    volumes:
      - ./nginx:/nginx
      - ./nginx/nginx.conf:/etc/nginx/conf.d/ckan.conf

  nginx-harvest-source:
    image: nginx
    volumes:
      - ./tests/harvest-sources:/usr/share/nginx/html
      - ./tests/nginx.conf:/etc/nginx/conf.d/default.conf

volumes:
  ckan_storage:
  pg_data:
  solr_data:
