version: "3"

services:
  ckan:
    image: ghcr.io/gsa/catalog.data.gov:latest
    command: /app/ckan/setup/ckan_setup.sh
    env_file: .env
    depends_on:
      - db
      - solr
      - redis
    ports:
      - "0.0.0.0:${PORT}:5000"
    volumes:
      - ./src:/srv/app/src_extensions
      - ckan_storage:/var/lib/ckan
      - .:/app

  db:
    env_file:
      - .env
    image: ghcr.io/gsa/catalog.data.gov.db:latest
    volumes:
      - pg_data:/var/lib/postgresql/data

  solr:
    image: ghcr.io/gsa/catalog.data.gov.solr:8-curl
    environment:
      - ZK_HOST=zookeeper1:2181,zookeeper2:2182,zookeeper3:2183
    ports:
      - "8983:8983"
    depends_on:
      - zookeeper1
      - zookeeper2
      - zookeeper3
    volumes:
      - solr_data:/var/solr

  zookeeper1:
    image: zookeeper:3.7
    restart: always
    ports:
      - 2181:2181
    hostname: zookeeper1
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=0.0.0.0:2888:3888;2181 server.2=zookeeper2:2888:3888;2181 server.3=zookeeper3:2888:3888;2181
    volumes:
      - zookeeperdata:/data
      - zookeeperdatalog:/datalog

  zookeeper2:
    image: zookeeper:3.7
    restart: always
    ports:
      - 2182:2181
    hostname: zookeeper2
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=zookeeper1:2888:3888;2181 server.2=0.0.0.0:2888:3888;2181 server.3=zookeeper3:2888:3888;2181
    volumes:
      - zookeeperdata2:/data
      - zookeeperdatalog2:/datalog

  zookeeper3:
    image: zookeeper:3.7
    restart: always
    ports:
      - 2183:2181
    hostname: zookeeper3
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=zookeeper1:2888:3888;2181 server.2=zookeeper2:2888:3888;2181 server.3=0.0.0.0:2888:3888;2181
    volumes:
      - zookeeperdata3:/data
      - zookeeperdatalog3:/datalog

  redis:
    image: redis:alpine

  nginx:
    image: nginx
    links:
      - ckan
    ports:
      - "8443:443"
    volumes:
      - ./nginx:/nginx
      - ./nginx/nginx.conf:/etc/nginx/conf.d/ckan.conf

  nginx-harvest-source:
    image: nginx
    volumes:
      - ./tests/harvest-sources:/usr/share/nginx/html
      - ./tests/nginx.conf:/etc/nginx/conf.d/default.conf

volumes:
  ckan_storage:
  pg_data:
  solr_data:
  zookeeperdata:
  zookeeperdatalog:
  zookeeperdata2:
  zookeeperdatalog2:
  zookeeperdata3:
  zookeeperdatalog3:
