alembic==1.0.0
babel==2.7.0
beaker==1.11.0
bleach==3.1.4
certifi==2020.12.5
chardet==3.0.4
-e git+https://github.com/ckan/ckan.git@0ded95a1af113501ef0536c0f27aa53878a0107f#egg=ckan
click==7.1.2
decorator==4.4.2
dominate==2.4.0
fanstatic==1.1
feedgen==0.9.0
flask==1.1.1
flask-babel==1.0.0
flask-multistatic==1.0
funcsigs==1.0.2
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
lxml==4.6.2
mako==1.1.4
markdown==2.6.7
markupsafe==1.1.1
newrelic==5.24.0.153
nose==1.3.7
passlib==1.6.5
pbr==5.5.1
polib==1.0.7
psycopg2==2.8.2
pyjwt==1.7.1
pysolr==3.6.0
python-dateutil==2.8.1
python-editor==1.0.4
python-magic==0.4.15
pytz==2016.7
pyutilib==5.7.1
pyyaml==5.3.1
redis==3.5.3
repoze.lru==0.7
repoze.who==2.3
requests==2.22.0
routes==1.13
rq==1.0
shutilwhich==1.1.0
simplejson==3.10.0
six==1.15.0
sqlalchemy==1.3.5
sqlalchemy-migrate==0.12.0
sqlparse==0.2.2
tempita==0.5.2
tzlocal==1.3
unicodecsv==0.14.1
urllib3==1.25.11
watchdog==1.0.2
webassets==0.12.1
webencodings==0.5.1
webob==1.8.6
werkzeug==1.0.0
zope.interface==4.3.2
