[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
# CKAN requirements and extensions
ckan = { git = "https://github.com/ckan/ckan.git@ckan-2.9.5", editable = false }
ckanext-dcat = { git = "https://github.com/ckan/ckanext-dcat@master", editable = false }
ckanext-harvest = { git = "https://github.com/ckan/ckanext-harvest.git@master", ediatable = true }
ckanext-spatial = { git = "https://github.com/ckan/ckanext-spatial.git@master", editable = true }
ckanext-saml2auth = { git = "https://github.com/keitaroinc/ckanext-saml2auth.git@main", editable = false }
ckanext-qa = { git = "https://github.com/ckan/ckanext-qa.git@master", editable = true }
ckanext-archiver = { git = "https://github.com/ckan/ckanext-archiver.git@master", editable = true }
ckanext-report = { git = "https://github.com/ckan/ckanext-report.git@master", editable = true }
ckanext-datagovcatalog = "*"
ckanext-datagovtheme = "*"
ckanext-datajson = "*"
ckanext-envvars = "*"
ckanext-geodatagov = "*"
ckanext-googleanalyticsbasic = "*"

###########################
# Pin for saml2auth to work
pysaml2 = "==7.0.1"
###########################
# ckanext-harvest
ckantoolkit = ">=0.0.7"
pika = ">=1.1.0"
pyOpenSSL = ">=22.0.0"
###########################
# ckanext-archiver
# https://github.com/ckan/ckanext-archiver/blob/master/requirements.txt
progressbar2 = "==3.53.3"
###########################
# ckanext-geodatagov
# https://github.com/GSA/ckanext-geodatagov/blob/main/requirements.txt
PyZ3950 = { git = "https://github.com/danizen/PyZ3950", editable = false }
###########################
# ckanext-spatial
argparse = "*"
GeoAlchemy2 = "==0.5.0"
OWSLib = "==0.18.0"
pyparsing = ">=2.1.10"
pyproj = "*"  # pipenv didn't like the pinned version of this "==2.6.1"
Shapely = ">=1.2.13"
###########################
# ckanext-qa
# https://github.com/ckan/ckanext-qa/blob/master/requirements.txt
progressbar = "*"
xlrd = "==2.0.1"
messytables = "==0.15.2"
###########################
# ckanext-report
# https://github.com/ckan/ckanext-report/blob/master/requirements.txt
###########################
# ckanext-dcat
rdflib = "==4.2.2" # rdflib-jsonld==0.4.0 # ignoring as cannot build on cloud.gov
geomet = ">=0.2.0"
future = ">=0.18.2"
six = ">=1.15.0"
###########################
# core ckan 
# https://github.com/ckan/ckan/blob/ckan-2.9.5/requirements.txt
alembic = "==1.0.0"
Babel = "==2.9.1"              # Upgraded from CKAN pin
Beaker = "==1.11.0"
bleach = "==3.3.0"
click = "==7.1.2"
dominate = "==2.4.0"
fanstatic = "==1.1"
feedgen = "==0.9.0"
Flask = "==2.0"
Flask-Babel = "==1.0.0"
flask-multistatic = "==1.0"
Jinja2 = "==3.0"
lxml = "==4.9.1"
pyjwt = "==2.4.0"
Markdown = "==3.1.1"           # Upgraded from CKAN pin
passlib = "==1.7.3"
pastedeploy = "==2.0.1"        # manually kept - remove when #4802 is complete
pathtools = "==0.1.2"          # via watchdog
polib = "==1.0.7"
psycopg2 = "==2.8.6"
python-magic = "==0.4.15"
pysolr = "==3.6.0"
python-dateutil = ">=1.5.0"
pytz = "==2016.7"
PyUtilib = "==5.7.1"
pyyaml = "==5.4"
"repoze.who" = ">=2.4"
requests = "==2.25.0"
Routes = "==1.13"
rq = "==1.0"
simplejson = "==3.10.0"
# Following can be ignored: https://github.com/ckan/ckan/pull/4450
# sqlalchemy-migrate==0.12.0
SQLAlchemy = "==1.3.5"
sqlparse = "==0.4.2"
tzlocal = "==1.3"
unicodecsv = ">=0.9"
webassets = "==0.12.1"
Werkzeug = "==2.0"
# zope.interface==4.7.2

###########################
# Misc: Gunicorn + NewRelic + More
gunicorn = "*"
gevent = ">=21.8.0"
newrelic = "*"

[requires]
python_version = "3.8"
