# CKAN requirements and extensions
git+https://github.com/GSA/ckan.git@ckan-2-10-5-fork#egg=ckan
git+https://github.com/ckan/ckanext-dcat@v1.7.0#egg=ckanext-dcat
-e git+https://github.com/GSA/ckanext-harvest.git@release-v1-5-6#egg=ckanext-harvest
-e git+https://github.com/GSA/ckanext-spatial.git@iis-dir#egg=ckanext-spatial
git+https://github.com/GSA/ckanext-saml2auth.git@datagov#egg=ckanext-saml2auth
# -e git+https://github.com/ckan/ckanext-qa.git@master#egg=ckanext-qa
-e git+https://github.com/ckan/ckanext-archiver.git@master#egg=ckanext-archiver
-e git+https://github.com/ckan/ckanext-report.git@master#egg=ckanext-report

ckanext-datagovcatalog
ckanext-datagovtheme
ckanext-datajson
ckanext-envvars>=0.0.3
ckanext-geodatagov
ckanext-metrics-dashboard

# Pin for saml2auth to work
pysaml2==7.0.1

# ckanext-harvest dependencies
ckantoolkit>=0.0.7
pika>=1.1.0,<1.3.0
# redis==2.10.6 # included in ckan core
# requests>=2.11.1 # included in ckan core
# six>=1.12.0 # included in dcat

# ckanext-archiver
# https://github.com/ckan/ckanext-archiver/blob/master/requirements.txt
progressbar2==3.53.3

# ckanext-geodatagov
# https://github.com/GSA/ckanext-geodatagov/blob/main/requirements.txt
git+https://github.com/danizen/PyZ3950#egg=PyZ3950

# ckanext-spatial
argparse
GeoAlchemy2==0.5.0
owslib>=0.28.1
pyparsing>=2.1.10
pyproj==3.4.1
Shapely==2.0.1
geojson==3.0.1
# requests>=1.1.0 # included in ckan core
# six # included in dcat

# ckanext-qa
# https://github.com/ckan/ckanext-qa/blob/master/requirements.txt
progressbar
xlrd==2.0.1
messytables==0.15.2

# ckanext-report
# https://github.com/ckan/ckanext-report/blob/master/requirements.txt

#ckanext-dcat
rdflib==6.1.1
# rdflib-jsonld==0.4.0 # ignoring as cannot build on cloud.gov
geomet>=0.2.0
future>=0.18.3

# ckan doesn't advertise its requirements correctly, so let's add them here.
# https://github.com/ckan/ckan/blob/ckan-2.9.5/requirements.txt
alembic==1.8.1
Babel==2.10.3
backports-zoneinfo==0.2.1; python_version < '3.9'
Beaker==1.11.0
bleach==5.0.1
blinker==1.5
click==8.1.3
dominate==2.7.0
feedgen==0.9.0
Flask==2.0.3
Flask-Babel==1.0.0
Flask-Login==0.6.1
Flask-WTF==1.0.1
flask-multistatic==1.0
# greenlet==2.0.2
#Jinja2==3.1.2
Markdown==3.4.1
packaging==24.1
passlib==1.7.4
polib==1.1.1
psycopg2==2.9.3
PyJWT==2.4.0
python-magic==0.4.27
pysolr==3.9.0
python-dateutil==2.8.2
pytz
PyUtilib==6.0.0
pyyaml==6.0.1
#requests==2.28.1
rq==1.11.0
#simplejson==3.17.6
SQLAlchemy[mypy]==1.4.41
#sqlparse==0.4.2
typing_extensions==4.3.0
tzlocal==4.2
webassets==2.0
Werkzeug[watchdog]==2.0.3
wheel==0.42.0
zope.interface==5.4.0

# catalog uses newer versions of these packages
simplejson==3.18.0
sqlparse==0.5.0

# we are running under gunicorn
# Pinned greenlet version to match version delivered with OS,
# preventing error with gevent dependency using newer version.
gunicorn
# greenlet==0.4.12

# New Relic
newrelic
redis>=4.5.4
requests~=2.32.3

# avoid ImportError error https://github.com/GSA/data.gov/issues/4396
importlib-resources<6.0
cryptography>=42.0.4

# fix for https://security.snyk.io/vuln/SNYK-PYTHON-GEVENT-8320934
gevent>=24.10.1

# lxml beyond 5.1.0 show error module 'lxml.etree' has no attribute '_ElementStringResult'
# as in https://github.com/GSA/data.gov/issues/4681
lxml==5.1.0

# duplicate Werkzeug[watchdog]==2.0.3 requrements from ckan list
# so that snyk doesn't complain about the version mismatch
Werkzeug==2.0.3

# pin numpy as 2.x causes array import issues w/ shapely
numpy==1.26.4
certifi>=2024.7.4

# snyk finding
setuptools~=71.0.3

# Pin MarkupSafe to avoid button issue for logged in user
MarkupSafe==2.*

# avoid conflic dependencies issue
greenlet>=3.1.1
jinja2>=3.1.5
