amqp==1.4.9
anyjson==0.3.3
argparse==1.4.0
babel==2.3.4
beaker==1.11.0
billiard==3.3.0.23
bleach==3.3.0
boto==2.49.0
celery==3.1.25
certifi==2020.12.5
cffi==1.12.3
chardet==3.0.4
-e git+https://github.com/ckan/ckan.git@e5105334fbdfd312412da4e05221ce0588dc2dfd#egg=ckan
-e git+https://github.com/ckan/ckanext-archiver.git@035728ddd739c5029f89e65fcb1d9048934c9ed9#egg=ckanext-archiver
-e git+https://github.com/GSA/ckanext-datagovcatalog.git@2225231e129e4aacb35939dcd2765ed7f9216bb1#egg=ckanext-datagovcatalog
-e git+https://github.com/GSA/ckanext-datagovtheme.git@efed8f246f8e0e4ceceab3ec427cb3aeccb1d8e4#egg=ckanext-datagovtheme
-e git+https://github.com/GSA/ckanext-datajson.git@4ca1ca31cfcc23d6610c13693049fcfc83696d08#egg=ckanext-datajson
-e git+https://github.com/ckan/ckanext-dcat@c285382e0c893a2dea7005729156f8bd3348ec54#egg=ckanext-dcat
ckanext-envvars==0.0.1
-e git+https://github.com/GSA/ckanext-geodatagov.git@020e54d330c96f17f9ca6cd5429f2aa335ad37d0#egg=ckanext-geodatagov
-e git+https://github.com/GSA/ckanext-googleanalyticsbasic.git@f0b75cf965e477a84f044885b27880782a48969c#egg=ckanext-googleanalyticsbasic
-e git+https://github.com/ckan/ckanext-harvest.git@e2e8acbb6d87d44663e92c5ff5cbd67401588c2d#egg=ckanext-harvest
-e git+https://github.com/ckan/ckanext-qa.git@d7d384cb18a85243ea62ef0bcc76bc1775f1c806#egg=ckanext-qa
-e git+https://github.com/davidread/ckanext-report.git@b67875b2a5b4c9b9ab2cf255f074226255ca9398#egg=ckanext-report
-e git+https://github.com/keitaroinc/ckanext-saml2auth.git@d77d85349c7a6fcfa5a14c19a56b53eacf137a7c#egg=ckanext-saml2auth
-e git+https://github.com/ckan/ckanext-spatial.git@4ac25f19aa4eb9c798451f5eeb3084f907ccc003#egg=ckanext-spatial
ckantoolkit==0.0.3
click==6.7
cryptography==3.3.2
decorator==4.4.2
defusedxml==0.7.1
distro==1.5.0
enum34==1.1.10; python_version < "3"
fanstatic==0.12
flask==0.12.4
flask-babel==0.11.2
formencode==2.0.0
funcsigs==1.0.2
future==0.18.2
genshi==0.7.3
geoalchemy==0.7.2
geoalchemy2==0.5.0
geomet==0.3.0
gevent==1.2.2
google-compute-engine==2.8.13
greenlet==0.4.12
gunicorn==19.10.0
html5lib==1.1
idna==2.8
ipaddress==1.0.23; python_version < "3"
isodate==0.6.0
itsdangerous==1.1.0
jinja2==2.11.3
json-table-schema==0.2.1
jsonschema==2.4.0
kombu==3.0.37
lepl==5.1.3
lxml==4.6.3
mako==1.1.4
markdown==3.1.1
markupsafe==1.1.1
messytables==0.15.2
newrelic==5.24.0.153
nose==1.3.7
ofs==0.4.2
owslib==0.8.6
packaging==20.9
pairtree==0.7.1-T
passlib==1.7.3
paste==1.7.5.1
pastedeploy==2.1.1
pastescript==2.0.2
pbr==1.10.0
pika==1.2.0
ply==3.4
polib==1.0.7
progressbar==2.3
psycopg2==2.7.3.2
pycparser==2.20
-e git+https://github.com/GSA/pygments.git@f6ccbc8c73b6b0a3c86ba7f1cfc36ac98ff5f122#egg=pygments
pylons==0.9.7
pyopenssl==20.0.1
pyparsing==2.4.7
-e git+https://github.com/GSA/pysaml2.git@ba144b7d5c804fd45808914e8562d1d26300c8a8#egg=pysaml2
pysolr==3.8.0
python-dateutil==1.5
python-magic==0.4.15
python2-secrets==1.0.5
pytz==2016.7
pyutilib.component.core==4.6.4
pyyaml==5.4
rdflib==4.2.1
rdflib-jsonld==0.4.0
redis==2.10.6
repoze.lru==0.7
repoze.who==2.3
repoze.who-friendlyform==1.0.8
requests==2.22.0
rfc3987==1.3.8
routes==1.13
rq==0.6.0
shapely==1.7.1
simplejson==3.10.0
six==1.16.0
sparqlwrapper==1.8.5
sqlalchemy==1.1.11
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
tempita==0.5.2
tzlocal==1.3
unicodecsv==0.14.1
urllib3==1.25.9
vdm==0.14
webencodings==0.5.1
weberror==0.13.1
webhelpers==1.3
-e git+https://github.com/GSA/webob.git@90d895f9a85c8bea11c80efa4e2f6bdd04eabbe4#egg=webob
webtest==1.4.3
werkzeug==0.15.6
xlrd==2.0.1
zope.interface==4.3.2
-e git+https://github.com/asl2/PyZ3950.git@c2282c73182cef2beca0f65b1eb7699c9b24512e#egg=PyZ3950
