alembic==1.13.2
async-timeout==5.0.1
Babel==2.15.0
bleach==6.1.0
blinker==1.8.2
boto3==1.37.18
botocore==1.37.18
cachelib==0.13.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
ckan @ git+https://github.com/GSA/ckan.git@040bd82163204e300342f0e0cd2f74eba2997ad8
ckanext-datagovcatalog==0.1.1
-e git+https://github.com/GSA/ckanext-datagovtheme.git@15df9b493cfa01da976885d29478e73c9b1c56c9#egg=ckanext_datagovtheme
ckanext-datajson==0.1.28
ckanext-dcat @ git+https://github.com/ckan/ckanext-dcat@b8ebf24004cd3f3edb7f9d01c87c20259c102093
ckanext-envvars==0.0.6
-e git+https://github.com/GSA/ckanext-geodatagov.git@c96828e2291c63598eb04875abdcdf6fda813ff8#egg=ckanext_geodatagov
-e git+https://github.com/GSA/ckanext-harvest.git@8da16a1f993f0fbf18f9fc810ab6ed7dfb7f871a#egg=ckanext_harvest
ckanext-metrics-dashboard==0.1.7
ckanext-saml2auth @ git+https://github.com/GSA/ckanext-saml2auth.git@99f35585c219a5cd39717b8c42cc54cdd959dfb4
-e git+https://github.com/GSA/ckanext-spatial.git@6d83a53efa1e9ff225daf4e7a5751b98367ee7f2#egg=ckanext_spatial
ckantoolkit==0.0.7
click==8.1.7
cryptography==44.0.2
defusedxml==0.7.1
dnspython==2.7.0
dominate==2.9.1
elementpath==4.8.0
eventlet==0.39.1
feedgen==1.0.0
Flask==3.0.3
flask-babel==4.0.0
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-WTF==1.2.1
future==1.0.0
GeoAlchemy2==0.5.0
geojson==3.1.0
geomet==1.1.0
greenlet==3.1.1
gunicorn==23.0.0
html5lib==1.1
idna==3.10
importlib-resources==5.13.0
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
json-table-schema==0.2.1
jsonschema==2.4.0
lxml==5.1.0
Mako==1.3.9
Markdown==3.6
MarkupSafe==2.1.5
messytables==0.15.2
msgspec==0.18.6
mypy==1.15.0
mypy-extensions==1.0.0
newrelic==10.7.0
numpy==1.26.4
OWSLib==0.32.0
packaging==24.1
passlib==1.7.4
pika==1.2.1
pip==25.0.1
ply==3.11
polib==1.2.0
progressbar==2.5
psycopg2==2.9.9
pycparser==2.22
PyJWT==2.8.0
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyproj==3.4.1
pysaml2==7.0.1
pysolr==3.9.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2025.1
PyYAML==6.0.1
PyZ3950 @ git+https://github.com/danizen/PyZ3950@6d44a4ab85c8bda3a7542c2c9efdfad46c830219
rdflib==6.1.1
redis==5.2.1
requests==2.32.3
rfc3987==1.3.8
rq==1.16.2
s3transfer==0.11.4
sansjson==0.3.0
setuptools==71.0.4
shapely==2.0.7
simplejson==3.19.2
six==1.17.0
SQLAlchemy==1.4.52
sqlalchemy2-stubs==0.0.2a38
sqlparse==0.5.0
tomli==2.2.1
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.3.0
watchdog==6.0.0
webassets==2.0
webencodings==0.5.1
Werkzeug==3.0.3
wheel==0.45.1
WTForms==3.2.1
xlrd==2.0.1
xmlschema==3.4.5
zope.interface==6.4.post2
