version: 2.1
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: echo "This is where we will run the tests" # TODO add tests here

  deploy-sandbox:
    docker:
      - image: circleci/python:3.6
    environment:
      # TODO validate this URL
      JENKINS_URL: https://ci.sandbox.datagov.us 
    steps:
      - checkout
      - deploy:
          name: Trigger Jenkins deploy
          command: bin/jenkins_build deploy-sandbox

workflows:
  version: 2
  commit:
    jobs:
      - build
      - deploy-sandbox:
         # TODO uncomment below when merged to master 
         # requires:
           # - build
         # filters:
           # branches:
             # only: master
