[tool.poetry]
name = "ckan-catalog"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^2.7"

ckan = {tag = "ckan-2.8.4", git = "https://github.com/ckan/ckan.git"}

ckanext-archiver = {git = "https://github.com/ckan/ckanext-archiver.git"}
ckanext-datagovtheme = {git = "https://github.com/GSA/ckanext-datagovtheme.git" }
ckanext-datajson = {git = "https://github.com/GSA/ckanext-datajson.git" }
ckanext-envvars = "*"
ckanext-geodatagov = {git = "https://github.com/GSA/ckanext-geodatagov.git" }
ckanext-harvest = {git = "https://github.com/ckan/ckanext-harvest.git" }
ckanext-report = {git = "https://github.com/davidread/ckanext-report.git" }
ckanext-spatial = {git = "https://github.com/ckan/ckanext-spatial" }

# ckanext-harvest dependencies

cffi = "1.12.3"
ckantoolkit = "0.0.3"
cryptography = "2.7"
pika = ">=1.1.0"
pyOpenSSL = "18.0.0"
redis = ">=3.3.0"
urllib3 = "*"

# ckanext-datajson

pyyaml = "*"
lepl = "*"
jsonschema = "2.4.0"
rfc3987 = "*"

# ckanext-archiver

celery = "3.1.25"
kombu = "3.0.37"
progressbar = "2.3"

# ckanext-geodatagov

# Unfortunately, this code is 17 years old, and poetry isn't able to
# determine the version number.
# PyZ3950 = {git = "https://github.com/asl2/PyZ3950.git" }
# pip equivalent:
# pip install -e git+https://github.com/asl2/PyZ3950.git@c2282c73182cef2beca0f65b1eb7699c9b24512e#egg=PyZ3950

ply = "3.4"
boto = "*"

# ckanext-spatial

GeoAlchemy = ">=0.6"
GeoAlchemy2 = "0.5.0"
Shapely = ">=1.2.13"
OWSLib = "0.8.6"
lxml = ">=2.3"
argparse = "*"
pyparsing = ">=2.1.10"

# ckan doesn't advertise its requirements correctly, so let's add them
# here.

bleach = "2.1.3"
click = "6.7"
fanstatic = "0.12"
ofs = "0.4.2"
passlib = "1.6.5"
polib = "1.0.7"
psycopg2 = "2.7.3.2"
python-magic = "0.4.15"
pysolr = "3.6.0"
python-dateutil = "<2.0.0,>=1.5.0"
pytz = "2016.7"
requests = "2.11.1"
rq = "0.6.0"
simplejson = "3.10.0"
sqlalchemy-migrate = "0.10.0"
sqlparse = "0.2.2"
tzlocal = "1.3"
unicodecsv = ">=0.9"
vdm = "0.14"
Babel = "2.3.4"
Flask = "0.12.4"
Flask-Babel = "0.11.2"
Jinja2 = "2.8"
Markdown = "~=3.1"
Pairtree = "0.7.1-T"
Paste = "1.7.5.1"
PasteScript = "2.0.2"
Pylons = "0.9.7"
"pyutilib.component.core" = "4.6.4"
"repoze.who-friendlyform" = "1.0.8"
"repoze.who" = "2.3"
Routes = "1.13"
SQLAlchemy = "1.1.11"
WebHelpers = "1.3"
WebOb = "1.0.8"
WebTest = "1.4.3"
werkzeug = "0.14.1"
"zope.interface" = "4.3.2"

# we are running under gunicorn

gunicorn = "*"


[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
