interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=fdic-data-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show&host=&protocol=",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "WEEKLY", "id": "f1b2d147-163f-412c-9e7a-e76040076376",
        "metadata_created": "2019-05-14T20:41:21.732116", "metadata_modified": "2019-05-21T14:43:27.166412",
        "title": "FDIC data.json", "state": "active", "creator_user_id": "A041752",
        "type": "harvest", "resources": [], "status": {"job_count": 86, "total_datasets":
        8, "last_job": {"id": "efd56acd-788c-49f9-8897-7c37a665c097", "created": "2020-12-23
        04:03:04.072334", "gather_started": "2020-12-23 04:05:42.395668", "gather_finished":
        "2020-12-23 04:05:43.324439", "finished": "2020-12-23 04:13:54.233864", "source_id":
        "f1b2d147-163f-412c-9e7a-e76040076376", "status": "Finished", "stats": {},
        "object_error_summary": [], "gather_error_summary": []}}, "tags": [], "source_type":
        "datajson", "tracking_summary": {"total": 1, "recent": 0}, "groups": [], "active":
        true, "relationships_as_subject": [], "name": "fdic-data-json", "url": "https://www.fdic.gov/data.json",
        "notes": "", "owner_org": "5021090a-be95-4013-946d-5ab92bac68ff", "extras":
        [{"value": "{\"private_datasets\": \"False\"}", "key": "config"}], "organization":
        {"description": "", "created": "2013-05-18T11:55:36.991279", "title": "Federal
        Deposit Insurance Corporation", "name": "fdic-gov", "is_organization": true,
        "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "revision_id": "145b198e-6374-468d-9a5b-030515f9db4c", "type": "organization",
        "id": "5021090a-be95-4013-946d-5ab92bac68ff", "approval_status": "approved"},
        "revision_id": "55c3d85b-63ae-4400-9d24-2909cb461d86"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=fcc
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show&host=&protocol=",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "DAILY", "id": "1cf10df3-9f67-421d-aa6e-d22540eb2445",
        "metadata_created": "2016-06-28T23:26:10.875636", "metadata_modified": "2019-02-19T20:13:27.687578",
        "title": "FCC Data.json", "state": "active", "creator_user_id": "69411", "type":
        "harvest", "resources": [], "status": {"job_count": 663, "total_datasets":
        40, "last_job": {"id": "26857c97-1414-42b4-b03a-d8a29604cdb8", "created":
        "2020-12-23 04:33:04.126491", "gather_started": "2020-12-23 04:42:08.893699",
        "gather_finished": "2020-12-23 04:42:12.293907", "finished": "2020-12-23 04:42:18.639899",
        "source_id": "1cf10df3-9f67-421d-aa6e-d22540eb2445", "status": "Finished",
        "stats": {"updated": 7, "errored": 6}, "object_error_summary": [{"message":
        "Identifier: https://opendata.fcc.gov/api/views/kydr-hyy5; Title: Fixed Broadband
        Deployment Data: Dec, 2018 Status V1; 1 Error(s) Found. ### ERROR #1: ''keyword''
        is a required property.", "error_count": 1}, {"message": "Identifier: https://opendata.fcc.gov/api/views/a6ec-cry4;
        Title: Intermediate Provider Registry; 2 Error(s) Found. ### ERROR #1: ''keyword''
        is a required property;  ### ERROR #2: ''description'':'''' is too short.",
        "error_count": 1}, {"message": "Identifier: https://opendata.fcc.gov/api/views/9wyt-yvgw;
        Title: Provider Table December 2018; 1 Error(s) Found. ### ERROR #1: ''keyword''
        is a required property.", "error_count": 1}, {"message": "Identifier: https://opendata.fcc.gov/api/views/yikn-7er3;
        Title: Area Table Ju[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=fhfa-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show&host=&protocol=",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "ed3cf881-6549-48e7-9268-903372a22fa5",
        "metadata_created": "2014-03-07T02:41:39.703062", "metadata_modified": "2018-08-03T01:46:31.375162",
        "title": "FHFA JSON", "state": "active", "creator_user_id": null, "config":
        "{\"private_datasets\": \"False\"}", "resources": [], "status": {"job_count":
        1481, "total_datasets": 2, "last_job": {"id": "ac447039-99ff-4ae7-86ed-974fec223e22",
        "created": "2018-08-02 03:48:15.036959", "gather_started": "2018-08-03 00:02:39.300442",
        "gather_finished": "2018-08-03 00:02:48.715558", "finished": "2018-08-03 00:31:46.068815",
        "source_id": "ed3cf881-6549-48e7-9268-903372a22fa5", "status": "Finished",
        "stats": {}, "object_error_summa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=nc-onemap-csw
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show&host=&protocol=",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "default_groups": "local",
        "id": "f6462f24-5acc-4eaf-937e-f8341585087c", "metadata_created": "2013-03-14T02:45:28.335452",
        "metadata_modified": "2015-04-11T12:11:54.105570", "title": "NC OneMap CSW",
        "state": "active", "creator_user_id": "69411", "config": "{\"default_groups\":
        [\"local\"], \"private_datasets\": false}", "resources": [], "status": {"job_count":
        1, "total_datasets": 1, "last_job": {"id": "336314c9-fc20-4f3c-a084-e8bf9709048a",
        "created": "2013-03-14 15:34:06.678063", "gather_started": "2013-03-14 15:35:36.780734",
        "gather_finished": "2013-03-14 15:35:37.561173", "finished": "2013-03-14 15:43:18.054199",
        "source_id": "f6462f24-5acc-4eaf-937e-f8341585087c", "status": "Finished",
        "stats": {"added": 1}, "object_error_summary": [], "gather_error_summary":
        []}}, "tags": [], "source_type": "csw", "tracking_summary": {"total": 50,
        "recent": 0}, "groups": [], "active": true, "relationships_as_subject": [],
        "name": "nc-onemap-csw", "url": "http://data.nconemap.com/geoportal/csw?Request=GetCapabilities&Service=CSW&Version=2.0.2",
        "type": "harvest", "notes": "", "owner_org": "1abdfb5f-4371-4fa3-8ef3-497cebe1b3fe",
        "private_datasets": false, "extras": [{"value": "{\"default_groups\": [\"local\"],
        \"private_datasets\": false}", "key": "config"}], "organization": {"description":
        "", "created": "2013-03-14T03:44:38.764842", "title": "State of North Carolina",
        "name": "nc-gov", "is_organization": true, "state": "active", "image_url":
        "http://www.nconemap.com/portals/7/images/gpt_logo_small.png", "revision_id":
        "4fb5830b-68c1-4e8b-a04e-3750c3e885c8", "type": "organization", "id": "1abdfb5f-4371-4fa3-8ef3-497cebe1b3fe",
        "approval_status": "approved"}, "revision_id": "2f92f68c-2882-4032-a447-67a3f6be7c25"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=cfpb-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show&host=&protocol=",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "WEEKLY", "id": "afb32af7-87ba-4f27-ae5c-f0d4d0e039dc",
        "metadata_created": "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=2018-addr
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show&host=&protocol=",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "86d7219f-b749-43da-a96f-0b4f56b1f8ef",
        "metadata_created": "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=wv-gis-technical-center
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show&host=&protocol=",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "2b520e94-9768-4375-aead-5dab2fc0d38e",
        "metada[...]
- request:
    body: '{"id": "fdic-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/organization_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=organization_show&host=&protocol=",
        "success": true, "result": {"users": [], "display_name": "Federal Deposit
        Insurance Corporation", "description": "", "image_display_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "package_count": 12, "created": "2013-05-18T11:55:36.991279", "name": "fdic-gov",
        "is_organization": true, "state": "active", "extras": [{"value": "dmentall@fdic.gov\r\njemartinez@fdic.gov",
        "state": "active", "key": "email_list", "revision_id": "28e787c7-bcd5-42b8-a3b0-aff94e85590f",
        "group_id": "5021090a-be95-4013-946d-5ab92bac68ff", "id": "b6e18fc3-f88a-4b23-9865-32d1cd68c11a"},
        {"value": "Federal Government", "state": "active", "key": "organization_type",
        "revision_id": "81328916-26ed-4276-ab29-c7d304bb9c92", "group_id": "5021090a-be95-4013-946d-5ab92bac68ff",
        "id": "7ae3d4ee-c0c9-47cf-8ab0-51029af7c8c2"}], "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "groups": [], "type": "organization", "title": "Federal Deposit Insurance
        Corporation", "revision_id": "145b198e-6374-468d-9a5b-030515f9db4c", "packages":
        [{"owner_org": "5021090a-be95-4013-946d-5ab92bac68ff", "maintainer": null,
        "relationships_as_object": [], "private": false, "maintainer_email": null,
        "num_tags": 0, "id": "FDIC-1374", "metadata_created": "2013-05-18T09:55:37.333842",
        "metadata_modified": "2014-01-12T07:33:05.083648", "author": null, "author_email":
        null, "state": "active", "version": null, "license_id": null, "type": "dataset",
        "num_resources": 1, "tags": [], "title": "FDIC Failed Bank List", "tracking_summary":
        {"total": 18591, "recent": 1}, "creator_user_id": null, "relationships_as_subject":
        [], "name": "fdic-failed-bank-list", "isopen": false, "url": null, "notes":
        "The FDIC is often appointed as receiver for failed banks. This list includes
        banks which have failed since October 1, 2000.", "license_title": null, "organization":
        {"description": "", "created": "2013-05-18T11:55:36.991279", "title": "Federal
        Deposit Insurance Corporation", "name": "fdic-gov", "is_organization": true,
        "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "revision_id": "145b198e-6374-468d-9a5b-030515f9db4c", "type": "organization",
        "id": "5021090a-be95-4013-946d-5ab92bac68ff", "approval_status": [...]
- request:
    body: '{"id": "fdic-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ckan:5000/api/3/action/organization_show
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_show",
        "success": true, "result": {"users": [], "display_name": "Federal Deposit
        Insurance Corporation", "description": "", "image_display_url": "https://upload.wikimedia.org/wikipedia/com[...]
- request:
    body: '{"name": "fdic-gov", "title": "Federal Deposit Insurance Corporation",
      "description": "", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
      "extras": [{"key": "email_list", "value": "dmentall@fdic.gov\r\njemartinez@fdic.gov"},
      {"key": "organization_type", "value": "Federal Government"}], "id": "aae23b37-d52e-4111-a6a0-5c5603f4f686"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f07-afdc-401d-bed0-dc51138c3e23
    method: POST
    uri: http://ckan:5000/api/3/action/organization_update
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_update",
        "success": true, "result": {"users": [], "display_name": "Federal Deposit
        Insurance Corporation", "description": "", "image_display_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
     [...]
- request:
    body: '{"name": "fdic-data-json", "owner_org": "fdic-gov", "title": "FDIC data.json",
      "url": "https://www.fdic.gov/data.json", "notes": "", "source_type": "datajson",
      "frequency": "WEEKLY", "config": "{\"private_datasets\": \"False\"}", "extras":
      [], "id": "f1b2d147-163f-412c-9e7a-e76040076376", "private_datasets": "False"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f07-afdc-401d-bed0-dc51138c3e23
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=https://www.fdic.gov/data.json
        config={\"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=fdic-data-json
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "WEEKLY", "id": "5be2770a-fd1b-4c05-be07-b119d14701e8", "metadata_created":
        "2020-12-23T16:42:07.508668", "metadata_modified": "2020[...]
[...]
- request:
    body: '{"id": "fcc-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ckan:5000/api/3/action/organization_show
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_show",
        "success": true, "result": {"users": [], "display_name": "Federal Communications
        Commission", "description": "", "image_display_url": "https://transition.fcc.gov/files/logos/fcc-logo_teal-on-white.jpg",
        "package_count": 0, "created": "2020-12-23T16:42:11.174693", "name": "fcc-gov",
        "is_organization": true, "state": "active", "extras": [{"value": "hyon.kim@gsa.gov\r\ncrystal.carter@gsa.gov",
        "state": "active", "key": "email_list", "revision_id": "e3bb31a1-7890-4fb8-b23e-78decc3c5fb8",
        "group_id": "79a64387-35d6-425b-9065-bcbdcc5175ab", "id": "2b124062-cf46-4cad-9ee3-0f11760fb452"},
        {"value": "Federal Government", "state": "active", "key": "organization_type",
        "revision_id": "e3bb31a1-7890-4fb8-b23e-78decc3c5fb8", "group_id": "79a64387-35d6-425b-9065-bcbdcc5175ab",
        "id": "5f7d60af-3c81-42cc-a0dd-a304ebb6d6c3"}], "image_url": "https://transition.fcc.gov/files/logos/fcc-logo_teal-on-white.jpg",
        "groups": [], "type": "organization", "title": "Federal Communications Commission",
        "revision_id": "e3bb31a1-7890-4fb8-b23e-78decc3c5fb8", "num_followers": 0,
        "id": "79a64387-35d6-425b-9065-bcbdcc5175ab", "tags": [], "approval_status":
        "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "fcc-gov", "title": "Federal Communications Commission", "description":
      "", "image_url": "https://transition.fcc.gov/files/logos/fcc-logo_teal-on-white.jpg",
      "extras": [{"key": "email_list", "value": "hyon.kim@gsa.gov\r\ncrystal.carter@gsa.gov"},
      {"key": "organization_type", "value": "Federal Government"}], "id": "79a64387-35d6-425b-9065-bcbdcc5175ab"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f0[...]
- request:
    body: '{"name": "fcc", "owner_org": "fcc-gov", "title": "FCC Data.json", "url":
      "http://opendata.fcc.gov/data.json", "notes": "FCC Data.json harvest source",
      "source_type": "datajson", "frequency": "DAILY", "config": "{\"private_datasets\":
      \"False\"}", "extras": [], "id": "1cf10df3-9f67-421d-aa6e-d22540eb2445", "private_datasets":
      "False"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f07-afdc-401d-bed0-dc51138c3e23
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=http://opendata.fcc.gov/data.json
        config={\"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=fcc
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "DAILY", "id": "be5eea93-3dd2-489a-a50e-c9364de9a0f7", "metadata_created":
        "2020-12-23T16:42:11.381360", "metadata_modified": "2020-12-23T16:51[...]
[...]
- request:
    body: '{"name": "fhfa-gov", "title": "Federal Housing Finance Agency", "description":
      "", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/US-FederalHousingFinanceAgency-Seal.svg/200px-US-FederalHousingFinanceAgency-Seal.svg.png",
      "extras": [{"key": "email_list", "value": "crystal.carter@gsa.gov"}, {"key":
      "organization_type", "value": "Federal Government"}], "id": "1075327b-691f-4cbc-9593-b984bf3cc143"}'
    headers:
      Content-Type:
  [...]
- request:
    body: '{"name": "fhfa-json", "owner_org": "fhfa-gov", "title": "FHFA JSON", "url":
      "http://www.fhfa.gov/data.json", "notes": "", "source_type": "datajson", "frequency":
      "MANUAL", "config": "{\"private_datasets\": \"False\"}", "extras": [], "id":
      "ed3cf881-6549-48e7-9268-903372a22fa5", "private_datasets": "False"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f07-afdc-401d-bed0-dc51138c3e23
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=http://www.fhfa.gov/data.json
        config={\"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=fhfa-json
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "a541e512-88ff-4725-a288-baac1d7020b4", "metadata_created":
        "2020-12-23T16:42:14.565250", "metadata_modified": "2020-12-2[...]
[...]
- request:
    body: '{"id": "nc-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/organization_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=organization_show&host=&protocol=",
        "success": true, "result": {"users": [{"email_hash": "88f88953da095626cff90bdcfdf4ccd7",
        "about": null, "capacity": "admin", "name": "cgia", "created": "2013-06-06T14:49:28.417322",
        "openid": null, "sysadmin": false, "activity_streams_email_notifications":
        false, "state": "deleted", "number_of_edits": 0, "display_name": "David Giordano",
        "fullname": "David Giordano", "id": "78601", "number_created_packages": 0}],
        "display_name": "State of North Carolina", "description": "", "image_display_url":
        "https://www.nconemap.com/portals/7/images/gpt_logo_small.png", "package_count":
        4, "created": "2013-03-14T03:44:38.764842", "name": "nc-gov", "is_organization":
        true, "state": "active", "extras": [{"value": "crystal.carter@gsa.gov", "state":
        "active", "key": "email_list", "revision_id": "f560f22b-d86a-42ad-993d-d15a180a745c",
        "group_id": "1abdfb5f-4371-4fa3-8e[...]
[...]
- request:
    body: '{"name": "nc-gov", "title": "State of North Carolina", "description": "",
      "image_url": "http://www.nconemap.com/portals/7/images/gpt_logo_small.png",
      "extras": [{"key": "email_list", "value": "crystal.carter@gsa.gov"}, {"key":
      "organization_type", "value": "State Government"}], "id": "d28d9a2f-71fd-42eb-bdc5-d9abfebdd174"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f07-afdc-401d-bed0-dc51138c3e23
    metho[...]
- request:
    body: '{"id": "local"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/group_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=group_show&host=&protocol=",
        "success": true, "result": {"users": [{"email_hash": "ac5b636935bb849fa931ba4956264482",
        "about": null, "capacity": "editor", "name": "kvuppala", "created": "2013-02-[...]
- request:
    body: '{"id": "local"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ckan:5000/api/3/action/group_show
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=group_show",
        "success": true, "result": {"users": [], "display_name": "Local Government",
        "description": "Local Government Topic - for all datasets with state, local,
        county organizations", "image_display_url": "", "package_count": 0, "created":
        "2020-12-23T16:42:18.269606", "name": "local", "is_organization": false, "state":
        "active", "extras": [], "image_url": "", "groups": [], "type": "group", "title":
        "Local Government", "revision_id": "e8cb91ff-c70e-4a0f-a18a-fac1781a03e7",
        "num_followers": 0, "id": "81f72825-d1ac-4fe3-a85f-c83123714a70", "tags":
        [], "approval_status": "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"users": [{"email_hash": "ac5b636935bb849fa931ba4956264482", "about":
      null, "capacity": "editor", "name": "kvuppala", "created": "2013-02-26T23:40:25.298556",
      "openid": null, "sysadmin": false, "activity_streams_email_notifications": false,
      "state": "deleted", "number_of_edits": 100590, "display_name": "Kishore Vuppala",
      "fullname": "Kishore Vuppala", "id": "69411", "number_created_packages": 53}],
      "display_name": "Local Government", "descript[...]
- request:
    body: '{"name": "nc-onemap-csw", "owner_org": "nc-gov", "title": "NC OneMap CSW",
      "url": "http://data.nconemap.com/geoportal/csw?Request=GetCapabilities&Service=CSW&Version=2.0.2",
      "notes": "", "source_type": "csw", "frequency": "MANUAL", "config": "{\"default_groups\":
      [\"local\"], \"private_datasets\": \"False\"}", "extras": [], "id": "f6462f24-5acc-4eaf-937e-f8341585087c",
      "private_datasets": "False"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f07-afdc-401d-bed0-dc51138c3e23
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "__type":
        "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=nc-onemap-csw
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "default_groups": "local", "id": "4ea86874-6c4c-490f-ad2a-0092e2b222d5",
        "metadata_created": "2020-12-23T16:42:18.430277", [...]
[...]
- request:
    body: '{"name": "cfpb-gov", "title": "Consumer Financial Protection Bureau", "description":
      "Consumer Financial Protection Bureau ", "image_url": "https://raw.githubusercontent.com/GSA/logo/master/cfpb.png",
      "extras": [{"key": "email_list", "value": "crystal.carter@gsa.gov\r\nSuzan.Muslu@cfpb.gov"},
      {"key": "organization_type", "value": "Federal Government"}], "id": "4ba21055-f1bf-488e-95e6-d933e79f06e3"}'
    headers:
      Content-Type:
      - application/json[...]
- request:
    body: '{"name": "cfpb-json", "owner_org": "cfpb-gov", "title": "CFPB JSON", "url":
      "http://www.consumerfinance.gov/data.json", "notes": "", "source_type": "datajson",
      "frequency": "WEEKLY", "config": "{\"private_datasets\": \"False\"}", "extras":
      [], "id": "afb32af7-87ba-4f27-ae5c-f0d4d0e039dc", "private_datasets": "False"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 4f0c7f07-afdc-401d-bed0-dc51138c3e23
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=http://www.consumerfinance.gov/data.json
        config={\"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=cfpb-json
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "WEEKLY", "id": "c5601c80-6c6b-4d69-a12f-5639269d2945", "metadata_created":
        "2020-12-23T16:42:21.658336", "metadata_modified": "2020-12-2[...]
[...]
- request:
    body: '{"name": "census-gov", "title": "US Census Bureau, Department of Commerce",
      "description": "The Census Bureau''s mission is to serve as the leading source
      of quality data about the nation''s people and economy. We honor privacy, protect
      confidentiality, share our expertise globally, and conduct our work openly.
      We are guided on this mission by scientific objectivity, our strong and capable
      workforce, our devotion to research-based innovation, a[...]
- request:
    body: '{"name": "2018-addr", "owner_org": "census-gov", "title": "2018_addr",
      "url": "https://meta.geo.census.gov/data/existing/decennial/GEO/GPMB/TIGERline/TIGER2018/addr/",
      "notes": "The Address Ranges Relationship File (ADDR.dbf) contains the attributes
      of each address range.  Each address range applies to a single edge and has
      a unique address range identifier (ARID) value.", "source_type": "waf-collection",
      "frequency": "MANUAL", "config": "{\"collection_metadata_url\": \"https://meta.geo.census.gov/data/existing/decennial/GEO/GPMB/TIGERline/TIGER2018/SeriesInfo/SeriesCollection_tl_2018_addr.dbf.iso.xml\",
[...]
