interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog-next.sandbox.datagov.us/api/3/action/package_search?start=0&rows=100&q=%28type%3Aharvest+source_type%3Adatajson%29&fq=%2Bdataset_type%3Aharvest&sort=metadata_created+asc
  response:
    body:
      string: '{"help": "https://catalog-next.sandbox.datagov.us/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 156, "sort": "metadata_created asc",
        "facets": {}, "results": [{"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "0b9bb86f-9b96-4699-98f9-9c4e518b3921", "metadata_created":
        "2020-05-27T20:35:24.128393", "metadata_modified": "2020-05-27T20:37:33.068405",
        "title": "U.S. Forest Service Geospatial Data Discovery", "state": "active",
        "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3", "config": "{}",
        "resources": [], "tags": [], "source_type": "datajson", "groups": [], "relationships_as_subject":
        [], "name": "u-s-forest-service-geospatial-data-discovery", "url": "https://enterprisecontent-usfs.opendata.arcgis.com/data.json",
        "type": "harvest", "notes": "The U.S. Forest Service has configured this open
        data site to help our partners and the public discover geospatial data published
        by the Agency. Use it together with your data to create maps, apps and other
        information products.", "owner_org": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a",
        "extras": [], "organization": {"description": "", "title": "Department of
        Agriculture", "created": "2020-05-27T20:35:23.701653", "approval_status":
        "approved", "is_organization": true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/USDA_logo.svg/140px-USDA_logo.svg.png",
        "revision_id": "fef2639b-4243-4f65-93da-03c23cc3cbb8", "type": "organization",
        "id": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "name": "usda-gov"}, "revision_id":
        "d3975615-3b18-4434-a79c-57963a911375"}, {"relationships_as_object": [], "private":
        false, "frequency": "MANUAL", "id": "ceb84d53-2594-42db-85f6-6808a61d1065",
        "metadata_created": "2020-05-27T20:35:25.951487", "metadata_modified": "2020-08-07T12:12:44.379993",
        "title": "FHFA JSON", "state": "active", "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3",
        "config": "{\"private_datasets\": \"False\"}", "resources": [], "tags": [],
        "source_type": "datajson", "groups": [], "relationships_as_subject": [], "name":
        "fhfa-json", "url": "http://www.fhfa.gov/data.json", "type": "harvest", "notes":
        "", "owner_org": "eeee1888-fe06-494e-9ad1-524f41488639", "private_datasets":
        "False", "organization": {"description": "", "created": "2020-05-27T20:35:25.536865",
        "title": "Federal Housing Finance Agency", "name": "fhfa-gov", "is_organization":
        true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/US-FederalHousingFinanceAgency-Seal.svg/200px-US-FederalHousingFinanceAgency-Seal.svg.png",
        "revision_id": "dea1f1a1-a6f8-4107-af42-32b7c6c00244", "type": "organization",
        "id": "eeee1888-fe06-494e-9ad1-524f41488639", "approval_status": "approved"},
        "revision_id": "c7205aae-8075-435f-929f-14f431b490fe"}, {"relationships_as_object":
        [], "validator_schema": "non-federal", "private": false, "frequency": "MANUAL",
        "default_groups": "local", "id": "1cbc45a5-a0a4-4e8d-9cd1-7e79f792c6a6", "metadata_created":
        "2020-05-27T20:36:50.656652", "metadata_modified": "2020-07-23T23:49:44.078298",
        "title": "illinois json", "state": "active", "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3",
        "config": "{\"default_groups\": \"local\", \"validator_schema\": \"non-federal\",
        \"private_datasets\": \"False\"}", "resources": [], "tags": [], "source_type":
        "datajson", "groups": [], "relationshi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog-next.sandbox.datagov.us/api/3/action/harvest_source_show?id=0b9bb86f-9b96-4699-98f9-9c4e518b3921
  response:
    body:
      string: '{"help": "https://catalog-next.sandbox.datagov.us/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "0b9bb86f-9b96-4699-98f9-9c4e518b3921", "metadata_created":
        "2020-05-27T20:35:24.128393", "metadata_modified": "2020-05-27T20:37:33.068405",
        "title": "U.S. Forest Service Geospatial Data Discovery", "state": "active",
        "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3", "config": "{}",
        "resources": [], "status": {"job_count": 2, "total_datasets": 0, "last_job":
        {"id": "27468376-c4c4-4470-95db-4ced6172fe8b", "created": "2020-08-22 17:00:30.760898",
        "gather_started": "2020-08-22 17:00:31.200432", "gather_finished": "2020-08-22
        17:00:32.523020", "finished": "2020-08-22 17:00:32.523020", "source_id": "0b9bb86f-9b96-4699-98f9-9c4e518b3921",
        "status": "Finished", "stats": {"deleted": 0, "updated": 0, "added": 0, "not
        modified": 0, "errored": 1}, "object_error_summary": [], "gather_error_summary":
        [{"message": "Error loading json content: No JSON object could be decoded.",
        "error_count": 1}]}}, "tags": [], "source_type": "datajson", "groups": [],
        "active": true, "relationships_as_subject": [], "name": "u-s-forest-service-geospatial-data-discovery",
        "url": "https://enterprisecontent-usfs.opendata.arcgis.com/data.json", "type":
        "harvest", "notes": "The U.S. Forest Service has configured this open data
        site to help our partners and the public discover geospatial data published
        by the Agency. Use it together with your data to create maps, apps and other
        information products.", "owner_org": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a",
        "extras": [], "organization": {"description": "", "title": "Department of
        Agriculture", "created": "2020-05-27T20:35:23.701653", "approval_status":
        "approved", "is_organization": true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/USDA_logo.svg/140px-USDA_logo.svg.png",
        "revision_id": "fef2639b-4243-4f65-93da-03c23cc3cbb8", "type": "organization",
        "id": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "name": "usda-gov"}, "revision_id":
        "d3975615-3b18-4434-a79c-57963a911375"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog-next.sandbox.datagov.us/api/3/action/harvest_source_show?id=63ece8f9-282c-42e9-b559-62b154d84570
  response:
    body:
      string: '{"help": "https://catalog-next.sandbox.datagov.us/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "63ece8f9-282c-42e9-b559-62b154d84570", "metadata_created":
        "2020-05-27T20:36:54.148510", "metadata_modified": "2020-08-24T12:20:20.061773",
        "title": "HHS CAS JSON", "state": "active", "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3",
        "type": "harvest", "resources": [], "status": {"job_count": 1, "total_datasets":
        3, "last_job": {"id": "ae85631a-81fc-44b3-b4b7-e11c4babddf1", "created": "2020-06-03
        21:13:51.503381", "gather_started": "2020-06-04 17:52:07.053508", "gather_finished":
        "2020-06-04 17:52:07.355542", "finished": "2020-07-31 09:15:05.724221", "source_id":
        "63ece8f9-282c-42e9-b559-62b154d84570", "status": "Finished", "stats": {"updated":
        0, "added": 3, "null": 13, "deleted": 0, "not modified": 0, "errored": 1},
        "object_error_summary": [], "gather_error_summary": [{"message": "Job timeout:
        ae85631a-81fc-44b3-b4b7-e11c4babddf1 is taking longer than 1440 minutes",
        "error_count": 1}]}}, "tags": [], "source_type": "datajson", "groups": [],
        "active": true, "relationships_as_subject": [], "name": "hhs-cas-json", "url":
        "https://raw.githubusercontent.com/gbinal/data/master/datasets/hhs_cas.json",
        "config": "{\"private_datasets\": \"False\"}", "notes": "", "owner_org": "3609164c-4c49-4a44-9179-23163027dc0a",
        "private_datasets": "False", "extras": [], "organization": {"description":
        "", "title": "U.S. Department of Health & Human Services", "created": "2020-05-27T20:36:53.714848",
        "approval_status": "approved", "is_organization": true, "state": "active",
        "image_url": "https://www.hhs.gov/sites/default/files/web/images/seal_blue_gold_hi_res.jpg",
        "revision_id": "88ccde02-cfdb-43ac-87a8-9430f9d91023", "type": "organization",
        "id": "3609164c-4c49-4a44-9179-23163027dc0a", "name": "hhs-gov"}, "revision_id":
        "0054fcec-6d0b-48f5-99db-bf00c04eaf01"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog-next.sandbox.datagov.us/api/3/action/harvest_source_show?id=065f858b-5ba2-4b25-80e5-564d1f41c78f
  response:
    body:
      string: '{"help": "https://catalog-next.sandbox.datagov.us/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "065f858b-5ba2-4b25-80e5-564d1f41c78f", "metadata_created":
        "2020-06-05T16:46:42.891536", "metadata_modified": "2020-06-05T16:47:09.363580",
        "title": "FCC source", "state": "active", "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3",
        "config": "{\"private_datasets\": \"False\"}", "resources": [], "status":
        {"job_count": 3, "total_datasets": 28, "last_job": {"id": "87d12706-c90e-4f1f-8f6d-15da3345a64c",
        "created": "2020-08-10 18:37:31.231744", "gather_started": "2020-08-10 18:37:31.724357",
        "gather_finished": "2020-08-10 18:37:34.068785", "finished": "2020-08-10 18:38:44.274580",
        "source_id": "065f858b-5ba2-4b25-80e5-564d1f41c78f", "status": "Finished",
        "stats": {"deleted": 0, "updated": 7, "added": 0, "not modified": 0, "errored":
        14}, "object_error_summary": [{"message": "Identifier: https://opendata.fcc.gov/api/views/8amq-x4jw;
        Title: Provider Table June 2019; 2 Error(s) Found. ### ERROR #1: ''description'':''''
        is too short;  ### ERROR #2: ''contactPoint'':''mailto:Austin Moewe'' is not
        valid under any of the given schemas.", "error_count": 1}, {"message": "Identifier:
        https://opendata.fcc.gov/api/views/9wyt-yvgw; Title: Provider Table December
        2018; 2 Error(s) Found. ### ERROR #1: ''keyword'' is a required property;  ###
        ERROR #2: ''contactPoint'':''mailto:Alireza Shadman'' is not valid under any
        of the given schemas.", "error_count": 1}, {"message": "Identifier: https://opendata.fcc.gov/api/views/a6ec-cry4;
        Title: Intermediate Provider Registry; 3 Error(s) Found. ### ERROR #1: ''keyword''
        is a required property;  ### ERROR #[...]
[...]
