interactions:
- request:
    body: '{"id": "agriculture8571"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/group_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=group_show",
        "success": true, "result": {"users": [], "display_name": "Agriculture", "description":
        "", "image_display_url": "", "package_count": 18, "created": "2013-05-18T12:07:45.970050",
        "name": "agriculture8571", "is_organization": false, "state": "active", "extras":
        [], "image_url": "", "groups": [], "type": "group", "title": "Agriculture",
        "revision_id": "997d07a9-9a87-45af-b903-429d6787844c", "packages": [{"owner_org":
        "e811f0b4-451f-4896-9e8f-fc6802837819", "maintainer": "", "relationships_as_object":
        [], "private": false, "maintainer_email": "", "num_tags": 0, "id": "DOC-4271",
        "metadata_created": "2013-05-18T09:49:49.982756", "metadata_modified": "2016-09-01T21:15:07.321876",
        "author": "", "author_email": "", "state": "active", "version": null, "license_id":
        "cc-by", "type": "dataset", "num_resources": 1, "tags": [], "title": "Internet
        Weather Source", "tracking_summary": {"total": 5886, "recent": 55}, "creator_user_id":
        null, "relationships_as_subject": [], "name": "internet-weather-source", "isopen":
        true, "url": null, "notes": "The National Weather Service (NWS) National Telecommunications
        Gateway provides  weather, hydrologic, and climate forecasts and warnings
        for the United States, its territories, adjacent waters and ocean areas, for
        the protection of life and property and the enhancement of the national economy.
        NWS data and products form a national information database and infrastructure
        which can be used by other governmental agencies, the private sector, the
        public, and the global community. ", "license_title": "Creative Commons Attribution",
        "license_url": "http://www.opendefinition.org/licenses/cc-by", "organization":
        {"description": "", "created": "2013-03-14T03:44:40.434269", "title": "National
        Oceanic and Atmospheric Administration, Department of Commerce", "name": "noaa-gov",
        "is_organization": true, "state": "active", "image_url": "https://fortress.wa.gov/dfw/score/score/images/noaa_logo.png",
        "revision_id": "c6d43080-22e1-405e-a83d-f2a512d9e867", "type": "organization",
        "id": "e811f0b4-451f-4896-9e8f-fc6802837819", "approval_status": "approved"},
        "revision_id": "b73f8f2c-23c7-46eb-8e81-8b5fabc0c3be"}, {"owner_org": "e811f0b4-451f-4896-9e8f-fc6802837819",
        "maintainer": "", "relationships_as_object": [], "private": false, "maintainer_email":
        "", "num_tags": 0, "id": "DOC-54", "metadata_created": "2013-05-18T09:38:01.134046",
        "metadata_modified": "2016-09-01T21:14:39.897805", "author": "", "author_email":
        "", "state": "active", "version": null, "license_id": "cc-by", "type": "dataset",
 [...]
- request:
    body: '{"id": "agriculture8571"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ckan:5000/api/3/action/group_show
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=group_show",
        "success": true, "result": {"users": [], "display_name": "Agriculture", "description":
        "", "image_display_url": "", "package_count": 8, "created": "2020-10-13T18:23:15.231406",
        "name": "agriculture8571", "is_organization": false, "state": "active", "extras":
        [], "image_url": "", "groups": [], "type": "group", "title": "Agriculture",
        "revision_id": "35ce7108-e393-43d4-a265-f033b4ddfb48", "num_followers": 0,
        "id": "ab724846-7e08-41fe-a030-637f063c2324", "tags": [], "approval_status":
        "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"users": [], "display_name": "Agriculture", "description": "", "image_display_url":
      "", "package_count": 18, "created": "2013-05-18T12:07:45.970050", "name": "agriculture8571",
      "is_organization": false, "state": "active", "extras": [], "image_url": "",
      "groups": [], "type": "group", "title": "Agriculture", "revision_id": "997d07a9-9a87-45af-b903-429d6787844c",
      "num_followers": 0, "tags": [], "approval_status": "approved", "id": "ab724846-7e08-41fe-a030-637f063c2324"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: POST
    uri: https://ckan:5000/api/3/action/group_update
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=group_update",
        "success": true, "result": {"users": [], "display_name": "Agriculture", "description":
        "", "image_display_url": "", "title": "Agriculture", "package_count": 8, "created":
        "2020-10-13T18:23:15.231406", "approval_status": "approved", "is_organization":
        false, "state": "active", "extras": [], "image_url": "", "groups": [], "revision_id":
        "35ce7108-e393-43d4-a265-f033b4ddfb48", "packages": [{"license_title": "Creative
        Commons Attribution", "maintainer": "Robert Bunge", "relationships_as_object":
        [], "private": false, "maintainer_email": "robert.bunge@noaa.gov", "num_tags":
        15, "id": "0deec544-71d1-4fc8-a394-f31655905f12", "metadata_created": "2020-07-27T22:30:10.582229",
        "metadata_modified": "2020-10-14T15:20:15.465352", "author": null, "author_email":
        null, "state": "active", "version": null, "creator_user_id": "13243459-1432-4fb3-bf74-f4bc6365d749",
        "type": "dataset", "resources": [{"mimetype": "application/zip", "cache_url":
        null, "hash": "", "description": "TIMS.kml", "name": "Web Page", "format":
        "ZIP", "url": "http://www.srh.noaa.gov/gis/kml/TIMS/TIMS.kml", "cache_last_updated":
        null, "package_id": "0deec544-71d1-4fc8-a394-f31655905f12", "created": "2020-07-27T22:30:10.686290",
        "state": "active", "mimetype_inner": null, "last_modified": null, "position":
        0, "revision_id": "7d0f1e91-7cd0-4a72-9d66-2c4fe0fe523e", "url_type": null,
        "id": "523cc151-6d99-47f4-a1e6-4e87d8dbe566", "resource_type": null, "size":
        null}], "num_resources": 1, "tags": [{"vocabulary_id": null, "state": "active",
        "display_name": "environment", "id": "e7646521-9a5e-4a19-b0d6-a0016f30a0bb",
        "name": "environment"}, {"vocabulary_id": null, "state": "active", "display_name":
        "federal-data-download", "id": "5ecc224c-53fb-43c7-979c-972edd43d571", "name":
        "federal-data-download"}, {"vocabulary_id": null, "state": "active", "display_name":
        "federal-datasets", "id": "c3c21ba4-50b3-4a5a-83a0-4b7f9f0cbac1", "name":
        "federal-datasets"}, {"vocab[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=0&rows=500&fq=groups%3Aagriculture8571
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 18, "sort": "views_recent desc", "facets":
        {}, "results": [{"license_title": "Creative Commons Attribution", "maintainer":
        "", "relationships_as_object": [], "private": false, "maintainer_email": "",
        "num_tags": 0, "id": "DOC-4271", "metadata_created": "2013-05-18T09:49:49.982756",
        "metadata_modified": "2016-09-01T21:15:07.321876", "author": "", "author_email":
        "", "state": "active", "version": null, "creator_user_id": null, "type": "dataset",
        "resources": [{"cache_last_updated": null, "package_id": "DOC-4271", "webstore_last_updated":
        null, "id": "09a8a75d-c6ee-4508-9a10-4d9bacedf991", "size": null, "size_text":
        "Varies", "state": "active", "archiver": "{''is_broken_printable'': ''Broken'',
        ''updated'': ''2017-12-09T23:22:21.859748'', ''cache_filepath'': None, ''last_success'':
        None, ''size'': u''0'', ''is_broken'': True, ''failure_count'': 2, ''etag'':
        None, ''status'': ''Download error'', ''url_redirected_to'': None, ''hash'':
        None, ''status_id'': 12, ''reason'': u''Server reported status error: 404
        Not Found'', ''last_modified'': None, ''resource_timestamp'': ''2014-02-28T23:04:38.828513'',
        ''mimetype'': None, ''cache_url'': None, ''created'': ''2017-12-09T23:17:21.022882'',
        ''first_failure'': ''2017-12-09T23:17:21.005670''}", "hash": "", "description":
        "", "format": "XML, CSV/TXT, XLS, Shapefile, KML/KMZ, PDF", "tracking_summary":
        {"total": 1122, "recent": 7}, "last_modified": null, "url_type": null, "mimetype":
        null, "cache_url": null, "name": "Web Page", "created": "2013-05-18T11:49:49.998145",
        "url": "http://weather.noaa.gov", "webstore_url": null, "qa": "{''updated'':
        ''2017-12-10T08:11:08.779122'', ''openness_score'': 0, ''archival_timestamp'':
        ''2017-12-09T23:22:21.859748'', ''format'': None, ''created'': ''2017-12-10T08:09:07.133568'',
        ''resource_timestamp'': None, ''openness_score_reason'': u''File could not
        be downloaded. Reason: Download error. Error details: Server reported status
        error: 404 Not Found. Attempted on 09/12/2017. Tried 2 times since 09/12/2017.
        This URL has not worked in the history of this tool.''}", "mimetype_inner":
        null, "position": 0, "revision_id": "6b831d4a-02ee-4d04-a46f-8abe3aba7db8",
        "resource_type": null}], "num_resources": 1, "tags": [], "tracking_summary":
        {"total": 5886, "recent": 55}, "groups": [{"display_name": "AAPI", "description":
        "Asian Americans and Pacific Islanders", "image_display_url": "", "title":
 [...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=internet-weather-source
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=current-national-weather-service-watches-warnings-or-advisories-for-the-united-s
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=supplement-commodity-index-report
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=environmental-reasearch-divisions-data-access-program-erddap
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=noaas-inundation-analysis-tool
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=climate-reference-network-daily01-product
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=climate-reference-network-hourly02-product
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=geophysical-fluid-dynamics-laboratory-portal
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=geographical-information-system-graphical-database-of-tornados-1950-2006
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "Robert Bunge", "relationships_as_object": [], "private"[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=national-operational-hydrologic-remote-sensing-center-nohrsc-snow-water-equivale
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=geospatial-display-of-current-weather-radar-images-ridge-weather-radar
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "National Weather Service, Robert Bunge, 301-713-1381 x140[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=observedforecast-river-conditions
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=tornado-tracks-and-icons-1950-2006
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "Robert Bunge", "relationships_as_object": [], "private": false,
        "maintainer_email": "[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=next-generation-radar-nexrad-locations
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "Stephen Del Greco", "relationships_as_object": [], "private":
        false, "maintainer_[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=severe-weather-data-svrgis-gis-data-county-warning-area
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "Robert Bunge", "relationships_as_object": [], "private": false,
        [...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=past-east-pacific-storm-tracks
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "Robert Bunge", "relationships_as_object": [], "private": false,
        "maintainer_email": "robe[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=storm-prediction-report
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "Joe Schaefer", "relationships_as_object": [], "private": false,
        "maintainer_email": "JSchaefer@n[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=past-atlantic-storm-tracks
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons Attribution",
        "maintainer": "Robert Bunge", "relationships_as_object": [], "private": false,
        "maintainer_email": "robert.b[...]
