interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=doi-open-data
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "5b7e4031-1e2d-428b-92e2-56554bbd7371",
        "metadata_created": "2020-01-27T21:25:54.099621", "metadata_modified": "2020-01-27T21:25:54.242384",
        "title": "DOI Open Data", "state": "active", "creator_user_id": "A418903",
        "type": "harvest", "resources": [], "status": {"job_count": 3, "total_datasets":
        20584, "last_job": {"id": "492b7e76-bba2-4ed5-af22-d69e21ee6b72", "created":
        "2020-10-05 14:11:50.490369", "gather_started": "2020-10-05 14:12:04.579779",
        "gather_finished": "2020-10-05 14:14:00.982773", "finished": "2020-10-05 17:19:57.863180",
        "source_id": "5b7e4031-1e2d-428b-92e2-56554bbd7371", "status": "Finished",
        "stats": {"deleted": 60, "updated": 20584, "errored": 300}, "object_error_summary":
        [{"message": "TypeError(\"''NoneType'' object has no attribute ''__getitem__''\",)",
        "error_count": 7}, {"message": "ContentFetchError(u''Could not fetch url:
        https://data.doi.gov/harvest/object/e809f908-0577-45ff-983f-e38c3c624312,
        error: HTTP Error 404: Not Found'',)", "error_count": 1}, {"message": "ContentFetchError(u''Could
        not fetch url: https://data.doi.gov/harvest/object/00a6cb50-0dce-471b-b15d-4ef9326c0820,
        error: HTTP Error 404: Not Found'',)", "error_count": 1}], "gather_error_summary":
        []}}, "tags": [], "source_type": "ckan", "tracking_summary": {"total": 0,
        "recent": 0}, "groups": [], "active": true, "relationships_as_subject": [],
        "name": "doi-open-data", "url": "https://data.doi.gov", "notes": "The Open
        Data provided by the Department of the Interior", "owner_org": "01ca8df8-6248-41e6-baa2-8b682e4b5a08",
        "extras": [{"value": "{\"private_datasets\": \"False\", \"force_all\": \"True\"}",
        "key": "config"}], "organization": {"description": "The Department of the
        Interior (DOI) conserves and manages the Nation\u2019s natural resources and
        cultural heritage for the benefit and enjoyment of the American people, provides
        scientific and other information about natural resources and natural hazards
        to address societal challenges and create opportunities for the American people,
        and honors the Nation\u2019s trust responsibilities or special commitments
        to American Indians, Alaska Natives, and affiliated island communities to
        help them prosper.\r\n\r\nSee more at https://www.doi.gov/", "title": "Department
        of the Interior", "created": "2013-05-18T11:54:25.835360", "approval_status":
        "approved", "is_organization": true, "state": "active", "image_url": "https://www.doi.gov/sites/doi.opengov.ibmcloud.com/themes/custom/doi_gov/logo.png",
        "revision_id": "18aac2e9-2bb6-4ddb-8f98-155da40f7cab", "type": "organization",
        "id": "01ca8df8-6248-41e6-baa2-8b682e4b5a08", "name": "doi-gov"}, "revision_id":
        "ba0d6794-df6d-4de0-be68-5ce5bbcb2a88"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "doi-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/organization_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=organization_show",
        "success": true, "result": {"users": [{"email_hash": "ba8b9e64ac3c0b01ada31a5782df4d7e",
        "about": null, "capacity": "member", "name": "james_brown@ios.doi.gov", "created":
        "2017-08-02T17:15:08.368338", "openid": null, "sysadmin": false, "activity_streams_email_notifications":
        false, "state": "active", "number_of_edits": 10, "display_name": "james_brown@ios.doi.gov",
        "fullname": null, "id": "A271389", "number_created_packages": 0}], "display_name":
        "Department of the Interior", "description": "The Department of the Interior
        (DOI) conserves and manages the Nation\u2019s natural resources and cultural
        heritage for the benefit and enjoyment of the American people, provides scientific
        and other information about natural resources and natural hazards to address
        societal challenges and create opportunities for the American people, and
        honors the Nation\u2019s trust responsibilities or special commitments to
        American Indians, Alaska Natives, and affiliated island communities to help
        them prosper.\r\n\r\nSee more at https://www.doi.gov/", "image_display_url":
        "https://www.doi.gov/sites/doi.opengov.ibmcloud.com/themes/custom/doi_gov/logo.png",
        "package_count": 20887, "created": "2013-05-18T11:54:25.835360", "name": "doi-gov",
        "is_organization": true, "state": "active", "extras": [{"value": "doidata@xentity.com",
        "state": "active", "key": "email_list", "revision_id": "18aac2e9-2bb6-4ddb-8f98-155da40f7cab",
        "group_id": "01ca8df8-6248-41e6-baa2-8b682e4b5a08", "id": "82ffab99-8cf0-4ac4-8fce-22827da90998"},
        {"value": "Federal Government", "state": "active", "key": "organization_type",
        "revision_id": "854c1dfc-120f-474b-8969-c2a3a5851627", "group_id": "01ca8df8-6248-41e6-baa2-8b682e4b5a08",
        "id": "28d2df7c-a609-491e-a28b-199c4fd30ece"}], "image_url": "https://www.doi.gov/sites/doi.opengov.ibmcloud.com/themes/custom/doi_gov/logo.png",
        "groups": [], "type": "organization", "title": "Department of the Interior",
        "revision_id": "bd946180-84dc-4eb5-b40f-8362c6da301c", "packages": [{"owner_org":
        "01ca8df8-6248-41e6-baa2-8b682e4b5a08", "maintainer": "tbd", "relationships_as_object":
        [], "private": false, "maintainer_email": "tdb@bie.gov", "num_tags": 1, "id":
        "61235f76-3519-434f-89dc-28d0e2cbb1d6", "metadata_created": "2014-04-10T19:51:22.921735",
        "metadata_modified": "2014-04-10T19:51:24.921735", "author": null, "author_email":
        null, "state": "active", "version": null, "license_id": "other-license-specified",
        "type": "dataset", "num_resources": 1, "title": "Haskell Indian Nations University
        Campus Safety and Security Survey", "tracking_summary": {"total": 98, "recent":
        3}, "groups": [], "creator_user_id": "47303a9e-1187-4290-85a3-1fc02dc49e4a",
        "relationships_as_subject": [], "name": "haskell-indian-nations-university-campus-safety-and-security-survey",
        "isopen": true, "url": null, "notes": "This is the Haskell Indian Nations
        University Campus Safety and Security Survey for 2013.  It covers campus safety,
        criminal offenses and reporting and disciplinary actions.", "license_title":
        "Other License Specified", "organization": {"description": "DOI Data will
        be temporarily unavailable on data.gov from 4/30 - 5/2. Access will remain
        at [https://data.doi.gov](https://data.doi.gov).\r\n\r\nThe Department of
        the Interior (DOI) conserves and manages the Nation\u2019s natural resources
        and cultural heritage for the benefit and enjoyment of the American people,
        provides scientific and other information about natural resources and natur[...]
- request:
    body: '{"id": "doi-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ckan:5000/api/3/action/organization_show
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: '{"name": "doi-gov", "title": "Department of the Interior", "description":
      "The Department of the Interior (DOI) conserves and manages the Nation\u2019s
      natural resources and cultural heritage for the benefit and enjoyment of the
      American people, provides scientific and other information about natural resources
      and natural hazards to address societal challenges and create opportunities
      for the American people, and honors the Nation\u2019s trust responsibilities
      or special commitments to American Indians, Alaska Natives, and affiliated island
      communities to help them prosper.\r\n\r\nSee more at https://www.doi.gov/",
      "image_url": "https://www.doi.gov/sites/doi.opengov.ibmcloud.com/themes/custom/doi_gov/logo.png",
      "extras": [{"key": "email_list", "value": "doidata@xentity.com"}, {"key": "organization_type",
      "value": "Federal Government"}]}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 0602d7ed-1517-40a0-a92f-049d724962df
    method: POST
    uri: http://ckan:5000/api/3/action/organization_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_create",
        "success": true, "result": {"users": [{"email_hash": "7c512b13badc48258d94ef72d1c8889a",
        "about": null, "capacity": "admin", "name": "admin", "created": "2020-10-06T14:33:08.861211",
        "sysadmin": true, "activity_streams_email_notifications":[...]
- request:
    body: '{"name": "doi-open-data", "owner_org": "doi-gov", "title": "DOI Open Data",
      "url": "https://data.doi.gov", "notes": "The Open Data provided by the Department
      of the Interior", "source_type": "ckan", "frequency": "MANUAL", "config": "{\"private_datasets\":
      \"False\", \"force_all\": true}", "extras": [], "id": "5b7e4031-1e2d-428b-92e2-56554bbd7371",
      "private_datasets": "False"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 0602d7ed-1517-40a0-a92f-049d724962df
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": t[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=doi-open-data
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "config": "{\"private_datasets\": \"False\", \"force_all\":
        true}", "id": "ef96a276-2800-49fd-8854-fd160a56fcf0", "metadata[...]
[...]
