interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=0&rows=100&q=%28type%3Aharvest+source_type%3Adatajson%29
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 151, "sort": "views_recent desc", "facets":
        {}, "results": [{"relationships_as_object": [], "private": false, "revision_timestamp":
        null, "frequency": "MANUAL", "id": "11cd07d8-f5a7-4207-9852-6160e09ff240",
        "metadata_created": "2018-08-02T18:15:34.198842", "metadata_modified": "2018-08-03T01:45:47.874032",
        "title": "U.S. Forest Service Geospatial Data Discovery", "state": "active",
        "creator_user_id": "A189028", "type": "harvest", "resources": [], "tags":
        [], "source_type": "datajson", "tracking_summary": {"total": 13, "recent":
        2}, "groups": [], "relationships_as_subject": [], "name": "u-s-forest-service-geospatial-data-discovery",
        "url": "https://enterprisecontent-usfs.opendata.arcgis.com/data.json", "notes":
        "The U.S. Forest Service has configured this open data site to help our partners
        and the public discover geospatial data published by the Agency. Use it together
        with your data to create maps, apps and other information products.", "owner_org":
        "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "organization": {"description": "",
        "created": "2013-05-18T11:48:54.524965", "title": "Department of Agriculture",
        "name": "usda-gov", "is_organization": true, "state": "active", "image_url":
        "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/USDA_logo.svg/140px-USDA_logo.svg.png",
        "revision_id": "9d008eb2-f15f-4e51-bd8f-1af5cb1ab701", "type": "organization",
        "id": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "approval_status": "approved"},
        "revision_id": "0f4f115e-77ab-4e64-871c-90e5be28f96f"}, {"relationships_as_object":
        [], "private": false, "revision_timestamp": null, "frequency": "MANUAL", "id":
        "ed3cf881-6549-48e7-9268-903372a22fa5", "metadata_created": "2014-03-07T02:41:39.703062",
        "metadata_modified": "2018-08-03T01:46:31.375162", "title": "FHFA JSON", "state":
        "active", "creator_user_id": null, "config": "{\"private_datasets\": \"False\"}",
        "resources": [], "tags": [], "source_type": "datajson", "tracking_summary":
        {"total": 39, "recent": 1}, "groups": [], "relationships_as_subject": [],
        "name": "fhfa-json", "url": "http://www.fhfa.gov/data.json", "type": "harvest",
        "notes": "", "owner_org": "eeee1888-fe06-494e-9ad1-524f41488639", "private_datasets":
        "False", "organization": {"description": "", "created": "2013-05-18T11:33:11.090226",
        "title": "Federal Housing Finance Agency", "name": "fhfa-gov", "is_organization":
        true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/US-FederalHousingFinanceAgency-Seal.svg/200px-US-FederalHousingFinanceAgency-Seal.svg.png",
        "revision_id": "ee1cfd3f-764e-465a-974b-46ceee7bddb2", "type": "organization",
        "id": "eeee1888-fe06-494e-9ad1-524f41488639", "approval_status": "approved"},
        "revision_id": "bde993b6-129e-4118-86d4-da7baf28cd7a"}, {"relationships_as_object":
        [], "validator_schema": "non-federal", "private": false, "revision_timestamp":
        null, "frequency": "MANUAL", "default_groups": "local", "id": "0b62f640-250f-4fc0-a5c4-434d0ae188d4",
        "metadata_created": "2014-04-16T17:39:34.523732", "metadata_modified": "2018-08-03T01:16:06.559897",
        "title": "illinois json", "state": "active", "creator_user_id": null, "config":
        "{\"default_groups\": \"local\", \"validator_schema\": \"non-federal\", \"private_datasets\":
        \"False\"}", "resources": [], "tags": [], "source_type": "datajson", "tracking_summary":
        {"total": 25, "recent": 1}, "groups": [][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=u-s-forest-service-geospatial-data-discovery
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA60aa1PjOPI7v0Kbq7rAHU4gvJeEK4YBZufJDgPM7NQUpdiKI2JbHklOyO7sf79u
        yXZsxwFmgwpiPfqlVqu7Jbv7y8sPJ5++XJySoQ6Do5XuL47zlQ/Ib6dk79sR6WIvCWjk9xosahA3
        oEr1GpwRzvYaMP7LVxZ5fPDNcUq4+4/g7j+Ae/AQ7sEiRF+nfLFjjgAiOU4JkQAMox5QCHg0IpIF
        vYbS04CpIWO6QfQ0Zr2G[...]
- request:
    body: name=usda-gov&title=Department+of+Agriculture&description=&id=4ae51f6c-467a-4f9d-b40a-2c52e83c326a&image_url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F0%2F0e%2FUSDA_logo.svg%2F140px-USDA_logo.svg.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-CKAN-API-Key:
      - 9ff42439-4ee3-46b2-9ce9-b0b051884b37
    method: POST
    uri: http://ckan:5000/api/3/action/organization_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_create",
        "success": true, "result": {"users": [{"email_hash": "7c512b13badc48258d94ef72d1c8889a",
        "about": null, "capacity": "admin", "name": "admin", "created": "2020-05-22T23:12:27.607724",
        "sysadmin": true, "activity_streams_email_notifications": false, "state":
        "active", "number_of_edits": 30, "display_name": "admin", "fullname": null,
        "id": "d4d0ce5f-bc2b-46db-a9cf-288c701dc4df", "number_created_packages": 6}],
        "display_name": "Department of Agriculture", "description": "", "image_display_url":
        "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/USDA_logo.svg/140px-USDA_logo.svg.png",
        "package_count": 0, "created": "2020-05-22T23:14:11.774693", "name": "usda-gov",
        "is_organization": true, "state": "active", "extras": [], "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/USDA_logo.svg/140px-USDA_logo.svg.png",
        "groups": [], "type": "organization", "title": "Department of Agriculture",
        "revision_id": "37000d0e-b601-49a8-9581-f549b1bbd148", "num_followers": 0,
        "id": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "tags": [], "approval_status":
        "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: name=u-s-forest-service-geospatial-data-discovery&owner_org=usda-gov&title=U.S.+Forest+Service+Geospatial+Data+Discovery&url=https%3A%2F%2Fenterprisecontent-usfs.opendata.arcgis.com%2Fdata.json&notes=The+U.S.+Forest+Service+has+configured+this+open+data+site+to+help+our+partners+and+the+public+discover+geospatial+data+published+by+the+Agency.+Use+it+together+with+your+data+to+create+maps%2C+apps+and+other+information+products.&source_type=datajson&frequency=MANUAL&config=%7B%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-CKAN-API-Key:
      - 9ff42439-4ee3-46b2-9ce9-b0b051884b37
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=https://enterprisecontent-usfs.opendata.arcgis.com/data.json
        config={}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: name=u-s-forest-service-geospatial-data-discovery&owner_org=usda-gov&title=U.S.+Forest+Service+Geospatial+Data+Discovery&url=https%3A%2F%2Fenterprisecontent-usfs.opendata.arcgis.com%2Fdata.json&notes=The+U.S.+Forest+Service+has+configured+this+open+data+site+to+help+our+partners+and+the+public+discover+geospatial+data+published+by+the+Agency.+Use+it+together+with+your+data+to+create+maps%2C+apps+and+other+information+products.&source_type=datajson&frequency=MANUAL&config=%7B%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-CKAN-API-Key:
      - 9ff42439-4ee3-46b2-9ce9-b0b051884b37
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_update
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_update",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "1ebd00d9-268d-4fb7-a7f0-7cb5b26c2276", "metadata_created":
        "2020-05-22T23:14:12.057369", "metadata_modified": "2020-05-22T23:25:53.972337",
        "title": "U.S. Forest Service Geospatial Data Discovery", "state": "active",
        "creator_user_id": "d4d0ce5f-bc2b-46db-a9cf-288c701dc4df", "type": "harvest",
        "resources": [], "status": {"job_count": 0, "total_datasets": 0, "last_job":
        null}, "tags": [], "source_type": "datajson", "groups": [], "relationships_as_subject":
        [], "name": "u-s-forest-service-geospatial-data-discovery", "url": "https://enterprisecontent-usfs.opendata.arcgis.com/data.json",
        "config": "{}", "notes": "The U.S. Forest Service has configured this open
        data site to help our partners and the public discover geospatial data published
        by the Agency. Use it together with your data to create maps, apps and other
        information products.", "owner_org": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a",
        "extras": [], "organization": {"description": "", "title": "Department of
        Agriculture", "created": "2020-05-22T23:14:11.774693", "approval_status":
        "approved", "is_organization": true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/USDA_logo.svg/140px-USDA_logo.svg.png",
        "revision_id": "37000d0e-b601-49a8-9581-f549b1bbd148", "type": "organization",
        "id": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "name": "usda-gov"}, "revision_id":
        "62659879-0aef-45eb-90b1-e3cbb7b81503"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=fhfa-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "ed3cf881-6549-48e7-9268-903372a22fa5",
        "metadata_created": "2014-03-07T02:41:39.703062", "metadata_modified": "2018-08-03T01:46:31.375162",
        "title": "FHFA JSON", "state": "active", "creator_user_id": null, "config":
        "{\"private_datasets\": \"False\"}", "resources": [], "status": {"job_count":
        1481, "total_datasets": 2, "last_job": {"id": "ac447039-99ff-4ae7-86ed-974fec223e22",
        "created": "2018-08-02 03:48:15.036959", "gather_started": "2018-08-03 00:02:39.300442",
        "gather_finished": "2018-08-03 00:02:48.715558", "finished": "2018-08-03 00:31:46.068815",
        "source_id": "ed3cf881-6549-48e7-9268-903372a22fa5", "status": "Finished",
        "stats": {}, "object_error_summary": [], "gather_error_summary": []}}, "tags":
        [], "source_type": "datajson", "tracking_summary": {"total": 39, "recent":
        0}, "groups": [], "active": true, "relationships_as_subject": [], "name":
        "fhfa-json", "url": "http://www.fhfa.gov/data.json", "type": "harvest", "notes":
        "", "owner_org": "eeee1888-fe06-494e-9ad1-524f41488639", "private_datasets":
        "False", "extras": [{"value": "{\"private_datasets\": \"False\"}", "key":
        "config"}], "organization": {"description": "", "created": "2013-05-18T11:33:11.090226",
        "title": "Federal Housing Finance Agency", "name": "fhfa-gov", "is_organization":
        true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/US-FederalHousingFinanceAgency-Seal.svg/200px-US-FederalHousingFinanceAgency-Seal.svg.png",
        "revision_id": "ee1cfd3f-764e-465a-974b-46ceee7bddb2", "type": "organization",
        "id": "eeee1888-fe06-494e-9ad1-524f41488639", "approval_status": "approved"},
        "revision_id": "bde993b6-129e-4118-86d4-da7baf28cd7a"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=illinois-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "validator_schema":
        "non-federal", "private": false, "revision_timestamp": null, "frequency":
        "MANUAL", "default_groups": "local", "id": "0b62f640-250f-4fc0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=doi-cas-datajam
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "0d58273e-fbe7-45dc-b46d-bdd106afbb72",
        "metadata_created": "2014-04-10T19:49:49.806335", "metadata_modified": "2014-04-10T19:49:49.806335",
        "title": "DOI CAS datajam", "state": "active", "creator_user_id": null, "config":
        "{\"private_datasets\": \"False\"}", "resources": [], "status": {"job_count":
        1, "total_datasets": 3, "last_job": {"id": "d6d44721-8104-4bad-8ec3-1b3696648f73",
        "created": "2014-04-10 19:49:58.374422", "gather_started": "2014-04-10 19:51:22.063418",
        "gather_finished": "2014-04-10 19:51:22.781442", "finished": "2014-04-10 19:51:23.942850",
        "source_id": "0d58273e-fbe7-45dc-b46d-bdd106afbb72", "status": "Finished",
        "stats": {"added": 3}, "object_error_summary": [], "gather_error_summary":
        []}}, "tags": [], "source_type": "datajson", "tracking_summary": {"total":
        23, "recent": 0}, "groups": [], "active": true, "relationships_as_subject":
        [], "name": "doi-cas-datajam", "url": "https://raw.githubusercontent.com/gbinal/data/master/datasets/doi_cas.json",
        "type": "harvest", "notes": "", "owner_org": "01ca8df8-6248-41e6-baa2-8b682e4b5a08",
        "private_datasets": "False", "extras": [{"value": "[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=hhs-cas-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "6ecff745-213b-4114-8230-3a6aed46a149",
        "metadata_created": "2014-04-11T07:17:22.0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=homeland-infrastructure-foundation-level-data-hifld
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "695b05a8-35a3-42b5-a6f2-c191d0357de2",
        "metadata_created": "2017-01-24T19:31:41.516926", "metadata_modified": "2017-01-25T01:46:35.773527",
        "title": "Homeland Infrastructure Foundation Level Data (HIFLD)", "state":
        "active", "creator_user_id": "A189028", "type": "harvest", "resources": [],
        "status": {"job_count": 1, "total_datasets": 0, "last_job": {"id": "361e7f09-e0a6-41d7-a2b2-872f6b689e47",
        "created": "2017-01-25 01:46:42.198134", "gather_started": "2017-01-25 01:48:05.795443",
        "gather_finished": "2017-01-25 01:48:12.113905", "finished": "2017-01-25 01:48:17.487727",
        "source_id": "695b05a8-35a3-42b5-a6f2-c191d0357de2", "status": "Finished",
        "stats": {"errored": 320}, "object_error_summary": [{"message": "Identifier:
        http://hifld-dhs-gii.opendata.arcgis.com/datasets/05f46500236347f5a0606e0fdc016c0c_0;
        Title: River Lines (USACE IENC); 1 Error(s) Found. ### ERROR #1: ''contactPoint'':''mailto:''
        does not match u\"^mailto:[\\\\w\\\\_\\\\~\\\\!\\\\$\\\\&\\\\''\\\\(\\\\)\\\\*\\\\+\\\\,\\\\;\\\\=\\\\:.-]+@[\\\\w.-]+\\\\.[\\\\w.-]+?$\".",
        "error_count": 1}, {"message": "Identifier: http://hifld-dhs-gii.opendata.arcgis.com/datasets/4b50477def264707a4dc9289f124853d_0;
        Title: Bridge Areas (USACE IENC); 1 Error(s) Found. ### ERROR #1: ''contactPoint'':''mailto:''
        does not match u\"^mailto:[\\\\w\\\\_\\\\~\\\\!\\\\$\\\\&\\\\''\\\\(\\\\)\\\\*\\\\+\\\\,\\\\;\\\\=\\\\:.-]+@[\\\\w.-]+\\\\.[\\\\w.-]+?$\".",
        "error_count": 1}, {"message": "Identifier: http://hifld-dhs-gii.opendata.arcgis.com/datasets/768caec24d6c4b8aa1b2759faacd2b[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=city-of-jackson-mississippi-data-json-harvest-source
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "5e1d32a5-c14a-4472-a0e0-047c3765f42d",
        "m[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=doj-cas-datajam
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "1ca4d7fa-40c6-446a-9950-59d9041792dd",
        "metadata_created": "2014-04-11T05:06:2[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=onhir-data-json-harvest-source
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "8ddbc4dc-3404-463c-acd6-4db7af3be938",
        "metadata_created": "2017-07-26T00:55:13.852021", "metadata_modified": "2018-08-03T01:46:10.540666",
        "title": "ONHIR Data.json Harvest Source", "state": "active", "creator_user_id":
        "A234394", "type": "harvest", "resources": [], "status": {"job_count": 50,
        "total_datasets": 4, "last_job": {"id": "87956b68-42b6-48b5-8aa6-ba8a12b7fb0c",
        "created": "2019-12-13 17:56:07.332394", "gather_started": "2019-12-13 17:57:22.815964",
        "gather_finished": "2019-12-13 17:57:32.384518", "finished": "2019-12-15 19:25:52.491060",
        "source_id": "8ddbc4dc-3404-463c-acd6-4db7af3be938", "status": "Finished",
        "stats": {"updated": 4}, "object_error_summary": [], "gather_error_summary":
        []}}, "tags": [], "source_type": "datajson", "tracking_summary": {"total":
        11, "recent": 0}, "groups": [], "active": true, "relationships_as_subject":
        [], "name": "onhir-data-json-harvest-source", "url": "https://www.onhir.gov/data.json",
        "notes": "Office of Navajo and Hopi Indian Relocation (ONHIR) Data.json Harvest
        Source\r\n ", "owner_org": "dbd2ff81-f584-41b2-8de9-01b374993b31", "extras":
        [{"value": "{\"private_datasets\": \"False\"}", "key": "config"}], "organization":
        {"description": "", "title": "Office of Navajo and Hopi Indian Relocation",
        "created": "2013-05-18T11:34:58.124871", "approval_status": "approved", "is_organization":
        true, "state": "active", "image_url": "", "revision_id": "76bd6513-ace9-400f-84c4-ea12cba0bb11",
        "type": "organization", "id": "dbd2ff81-f584-41b2-8de9-01b374993b31", "name":
        "onhir-gov"}, "revision_id": "6a1c7456-81ba-4f03-8668-c2d137edefe6"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
