interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog-next.sandbox.datagov.us/api/3/action/package_search?start=0&rows=100&q=%28type%3Aharvest+source_type%3Ackan%29&fq=%2Bdataset_type%3Aharvest&sort=metadata_created+asc
  response:
    body:
      string: '{"help": "https://catalog-next.sandbox.datagov.us/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 4, "sort": "metadata_created asc", "facets":
        {}, "results": [{"relationships_as_object": [], "private": false, "frequency":
        "MANUAL", "id": "4b26cadc-df44-479d-8934-e3d8ea49b889", "metadata_created":
        "2020-06-04T20:51:17.993044", "metadata_modified": "2020-06-04T20:51:17.993053",
        "title": "Datos Argentina", "state": "active", "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3",
        "config": "", "resources": [], "tags": [], "source_type": "ckan", "groups":
        [], "relationships_as_subject": [], "name": "datos-argentina", "url": "https://datos.gob.ar/",
        "type": "harvest", "notes": "test of ckan harvester", "owner_org": "a186648c-3503-4ef8-9d74-a5165dcaa6f9",
        "organization": {"description": "", "created": "2020-06-04T20:50:49.413218",
        "title": "Datos Argentina", "name": "datos-argentina", "is_organization":
        true, "state": "active", "image_url": "", "revision_id": "6d718a39-7131-469e-8aa1-4087b3a32a68",
        "type": "organization", "id": "a186648c-3503-4ef8-9d74-a5165dcaa6f9", "approval_status":
        "approved"}, "revision_id": "6123b04c-96d3-402b-9c44-de439ea1df1a"}, {"relationships_as_object":
        [], "private": false, "frequency": "MANUAL", "id": "68fd35af-f59f-4ca0-bc61-459920ccefd7",
        "metadata_created": "2020-06-12T16:20:13.295921", "metadata_modified": "2020-08-04T15:12:36.403696",
        "title": "DOI Open Data", "state": "active", "creator_user_id": "1a1c53a7-3a3c-45f3-947e-e2a86812ecd9",
        "config": "{\"private_datasets\": \"False\"}", "resources": [], "tags": [],
        "source_type": "ckan", "groups": [], "relationships_as_subject": [], "name":
        "doi-open-data", "url": "https://data.doi.gov", "type": "harvest", "notes":
        "The Open Data provided by the Department of the Interior", "owner_org": "01ca8df8-6248-41e6-baa2-8b682e4b5a08",
        "private_datasets": "False", "organization": {"description": "DOI Data will
        be temporarily unavailable on data.gov from 4/30 - 5/2. Access will remain
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog-next.sandbox.datagov.us/api/3/action/harvest_source_show?id=4b26cadc-df44-479d-8934-e3d8ea49b889
  response:
    body:
      string: '{"help": "https://catalog-next.sandbox.datagov.us/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "4b26cadc-df44-479d-8934-e3d8ea49b889", "metadata_created":
        "2020-06-04T20:51:17.993044", "metadata_modified": "2020-06-04T20:51:17.993053",
        "title": "Datos Argentina", "state": "active", "creator_user_id": "c8774253-2921-4650-af78-600f57482ec3",
        "config": "", "resources": [], "status": {"job_count": 3, "total_datasets":
        978, "last_job": {"id": "99b48fd3-5535-456c-be15-1be80024e215", "created":
        "2020-06-24 02:02:06.112908", "gather_started": "2020-06-24 02:02:06.374779",
        "gather_finished": "2020-06-24 02:02:11.728201", "finished": "2020-06-24 02:02:24.817676",
        "source_id": "4b26cadc-df44-479d-8934-e3d8ea49b889", "status": "Finished",
        "stats": {"deleted": 0, "updated": 51, "added": 0, "not modified": 0, "errored":
        0}, "object_error_summary": [], "gather_error_summary": []}}, "tags": [],
        "source_type": "ckan", "groups": [], "active": true, "relationships_as_subject":
        [], "name": "datos-argentina", "url": "https://datos.gob.ar/", "type": "harvest",
        "notes": "test of ckan harvester", "owner_org": "a186648c-3503-4ef8-9d74-a5165dcaa6f9",
        "extras": [], "organization": {"description": "", "created": "2020-06-04T20:50:49.413218",
        "title": "Datos Argentina", "name": "datos-argentina", "is_organization":
        true, "state": "active", "image_url": "", "revision_id": "6d718a39-7131-469e-8aa1-4087b3a32a68",
        "type": "organization", "id": "a186648c-3503-4ef8-9d74-a5165dcaa6f9", "approval_status":
        "approved"}, "revision_id": "6123b04c-96d3-402b-9c44-de439ea1df1a"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog-next.sandbox.datagov.us/api/3/action/harvest_source_show?id=68fd35af-f59f-4ca0-bc61-459920ccefd7
  response:
    body:
      string: '{"help": "https://catalog-next.sandbox.datagov.us/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "68fd35af-f59f-4ca0-bc61-459920ccefd7", "metadata_created":
        "2020-06-12T16:20:13.295921", "metadata_modified": "2020-08-04T15:12:36.403696",
        "title": "DOI Open Data", "state": "active", "creator_user_id": "1a1c53a7-3a3c-45f3-947e-e2a86812ecd9",
        "config": "{\"private_datasets\": \"False\"}", "resources": [], "status":
        {"job_count": 2, "total_datasets": 0, "last_job": {"id": "7243d838-2153-42aa-99b9-dc1342d319b4",
        "created": "2020-08-07 12:19:17.394412", "gather_started": null, "gather_finished":
        null, "finished": "2020-08-07 17:10:30.252713", "source_id": "68fd35af-f59f-4ca0-bc61-459920ccefd7",
        "status": "Finished", "stats": {"deleted": 0, "updated": 0, "added": 0, "not
        modified": 0, "errored": 1}, "object_error_summary": [], "gather_error_summary":
        [{"message": "Job timeout: 7243d838-2153-42aa-99b9-dc1342d319b4 is taking
        longer than 120 minutes", "error_count": 1}]}}, "tags": [], "source_type":
        "ckan", "groups": [], "active": true, "relationships_as_subject": [], "name":
        "doi-open-data", "url": "https://data.doi.gov", "type": "harvest", "notes":
        "The Open Data provided by the Department of the Interior", "owner_org": "01ca8df8-6248-41e6-baa2-8b682e4b5a08",
        "private_datasets": "False", "extras": [], "organization": {"description":
        "DOI Data will be temporarily unavailable on data.gov from 4/30 - 5/2. Access
     [...]
[...]
