interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=0&rows=100&q=%28type%3Aharvest+source_type%3Adatajson%29
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 151, "sort": "views_recent desc", "facets":
        {}, "results": [{"relationships_as_object": [], "private": false, "revision_timestamp":
        null, "frequency": "MANUAL", "id": "11cd07d8-f5a7-4207-9852-6160e09ff240",
        "metadata_created": "2018-08-02T18:15:34.198842", "metadata_modified": "2018-08-03T01:45:47.874032",
        "title": "U.S. Forest Service Geospatial Data Discovery", "state": "active",
        "creator_user_id": "A189028", "type": "harvest", "resources": [], "tags":
        [], "source_type": "datajson", "tracking_summary": {"total": 13, "recent":
        2}, "groups": [], "relationships_as_subject": [], "name": "u-s-forest-service-geospatial-data-discovery",
        "url": "https://enterprisecontent-usfs.opendata.arcgis.com/data.json", "notes":
        "The U.S. Forest Service has configured this open data site to help our partners
        and the public discover geospatial data published by the Agency. Use it together
        with your data to create maps, apps and other information products.", "owner_org":
        "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "organization": {"description": "",
        "created": "2013-05-18T11:48:54.524965", "title": "Department of Agriculture",
        "name": "usda-gov", "is_organization": true, "state": "active", "image_url":
        "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/USDA_logo.svg/140px-USDA_logo.svg.png",
        "revision_id": "9d008eb2-f15f-4e51-bd8f-1af5cb1ab701", "type": "organization",
        "id": "4ae51f6c-467a-4f9d-b40a-2c52e83c326a", "approval_status": "approved"},
        "revision_id": "0f4f115e-77ab-4e64-871c-90e5be28f96f"}, {"relationships_as_object":
        [], "private": false, "revision_timestamp": null, "frequency": "MANUAL", "id":
        "cb89a959-ae9e-437a-bb4d-2aa9d14dfb24", "metadata_created": "2016-07-18T15:58:32.300642",
        "metadata_modified": "2019-03-29T20:01:03.192487", "title": "City of Boise
        Data.json", "state": "active", "creator_user_id": "69411", "type": "harvest",
        "resources": [], "tags": [], "so[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=u-s-forest-service-geospatial-data-discovery
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA60aa1PjOPI7v0KbrbrAHU5CwiMsCVfM8JgXAwvDsHtTU5RiK46IbXlkOSGzs//9
        uiXbsR0HmA0qiPXol1qt7pbs3i/HF68//Xl5QkbK9w7Xer9Y1hc+JG9PyN7XQ9LDXuLRwO3XWFAj
        tkejqF/jjHC2V4PxX76wwOHDr5ZVwO0+gdt9BHf/Mdz9ZYiuSvhixwIBRLKsAiIBGEYdoODxYEwk
        8/q1SM08Fo0YUzWiZiHr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=city-of-boise-data-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "cb89a959-ae9e-437a-bb4d-2aa9d14dfb24",
        "metadata_created": "2016-07-18T15:58:32.300642", "metadata_modified": "2019-03-29T20:01:03.192487",
        "title": "City of Boise Data.json", "state": "active", "creator_user_id":
        "69411", "type": "harvest", "resources": [], "status": {"job_count": 24, "total_datasets":
        25, "last_job": {"id": "508aeb98-4f66-4500-8df3-f4c249632839", "created":
        "2018-07-11 19:36:29.304163", "gather_started": "2018-07-12 09:35:14.815493",
        "gather_finished": "2018-07-12 09:35:19.276553", "finished": "2018-07-14 15:29:00",
        "source_id": "cb89a959-ae9e-437a-bb4d-2aa9d14dfb24", "status": "Finished",
        "stats": {"null": 33}, "object_error_summary": [], "gather_error_summary":
        []}}, "tags": [], "source_type": "datajson", "tracking_summary": {"total":
        28, "recent": 0}, "groups": [], "active": true, "relationships_as_subject":
        [], "name": "city-of-boise-data-json", "url": "http://opendata.cityofboise.org/data.json",
        "notes": "City of Boise Data.json", "owner_org": "1b627af3-7810-4f31-9bce-0cbb36cdbf66",
        "extras": [{"value": "{\"default_groups\": \"local\", \"validator_schema\":
        \"non-federal\", \"private_datasets\": \"False\"}", "key": "config"}], "organization":
        {"description": "City of Boise", "created": "2016-07-18T11:56:58.333909",
        "title": "City of Boise", "name": "city-of-boise", "is_organization": true,
        "state": "active", "image_url": "http://static.cityofboise.net/images/cob/logo/citylogo.png",
        "revision_id": "b1ce897e-bd50-4c70-805f-2d7164191c54", "type": "organization",
        "id": "1b627af3-7810-4f31-9bce-0cbb36cdbf66", "approval_status": "approved"},
        "revision_id": "215f3d08-173b-4b85-a455-91e148485fa9"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: name=city-of-boise&title=City+of+Boise&description=City+of+Boise&id=1b627af3-7810-4f31-9bce-0cbb36cdbf66&image_url=http%3A%2F%2Fstatic.cityofboise.net%2Fimages%2Fcob%2Flogo%2Fcitylogo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-CKAN-API-Key:
      - 5e88a903-43d3-44fd-99cc-d9feacc5c2d9
    method: POST
    uri: http://ckan:5000/api/3/action/organization_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_create",
        "success": true, "result": {"users": [{"email_hash": "7c512b13badc48258d94ef72d1c8889a",
        "about": null, "capacity": "admin", "name": "admin", "created": "2020-05-21T13:58:04.808667",
        "sysadmin": true, "activity_streams_email_notifications": false, "state":
        "active", "number_of_edits": 6, "display_name": "admin", "fullname": null,
        "id": "22088858-2d85-49a6-889a-611861bddbc7", "number_created_packages": 1}],
        "display_name": "City of Boise", "description": "City of Boise", "image_display_url":
        "http://static.cityofboise.net/images/cob/logo/citylogo.png", "package_count":
        0, "created": "2020-05-21T13:59:34.847210", "name": "city-of-boise", "is_organization":
        true, "state": "active", "extras": [], "image_url": "http://static.cityofboise.net/images/cob/logo/citylogo.png",
        "groups": [], "type": "organization", "title": "City of Boise", "revision_id":
        "7e5bdaad-8e55-48be-9183-e130f1778ef2", "num_followers": 0, "id": "1b627af3-7810-4f31-9bce-0cbb36cdbf66",
        "tags": [], "approval_status": "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: name=city-of-boise-data-json&owner_org=city-of-boise&title=City+of+Boise+Data.json&url=http%3A%2F%2Fopendata.cityofboise.org%2Fdata.json&notes=City+of+Boise+Data.json&source_type=datajson&frequency=MANUAL&config=%7B%22default_groups%22%3A+%22local%22%2C+%22validator_schema%22%3A+%22non-federal%22%2C+%22private_datasets%22%3A+%22False%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-CKAN-API-Key:
      - 5e88a903-43d3-44fd-99cc-d9feacc5c2d9
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=http://opendata.cityofboise.org/data.json
        config={\"default_groups\": \"local\", \"validator_schema\": \"non-federal\",
        \"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=fhfa-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "ed3cf881-6549-48e7-9268-903372a22fa5",
        "metadata_created": "2014-03-07T02:41:39.703062", "metadata_modified": "2018-08-03T01:46:31.375162",
        "title": "FHFA JSON", "state": "active", "creator_user_id": null, "config":
        "{\"private_datasets\": \"False\"}", "resources": [], "status": {"job_count":
        1481, "total_datasets": 2, "last_job": {"id": "ac447039-99ff-4ae7-86ed-974fec223e22",
        "created": "2018-08-02 03:48:15.036959", "gather_started": "2018-08-03 00:02:39.300442",
        "gather_finished": "2018-08-03 00:02:48.715558", "finished": "2018-08-03 00:31:46.068815",
        "source_id": "ed3cf881-6549-48e7-9268-903372a22fa5", "status": "Finished",
        "stats": {}, "object_error_summa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=illinois-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "validator_schema":
        "non-federal", "private": false, "revision_timestamp": null, "frequency":
        "MANUAL", "default_groups": "local", "id": "0b62f640-250f-4fc0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=doi-cas-datajam
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "0d58273e-fbe7-45dc-b46d-bdd106afbb72",
        "metadata_created": "2014-04-10T19:49:49.806335", "metadata_modified": "2014-04-10T19:49:49.806335",
        "title": "DOI CAS datajam", "state": "active", "creator_user_id": null, "config":
        "{\"private_datasets\": \"False\"}", "resources": [], "status": {"job_count":
        1, "total_datasets": 3, "last_job": {"id": "d6d44721-8104-4bad-8ec3-1b3696648f73",
        "created": "2014-04-10 19:49:58.374422", "gather_started": "2014-04-10 19:51:22.063418",
        "gather_finished": "2014-04-10 19:51:22.781442", "finished": "2014-04-10 19:51:23.942850",
        "source_id": "0d58273e-fbe7-45dc-b46d-bdd106afbb72", "status": "Finished",
        "stats": {"added": 3}, "object_error_summary": [], "gather_error_summary":
        []}}, "tags": [], "source_type": "datajson", "tracking_summary": {"total":
        23, "recent": 0}, "groups": [], "active": true, "relationships_as_subject":
        [], "name": "doi-cas-datajam", "url": "https://raw.githubusercontent.com/gbinal/data/master/datasets/doi_cas.json",
        "type": "harvest", "notes": "", "owner_org": "01ca8df8-6248-41e6-baa2-8b682e4b5a08",
        "private_datasets": "False", "extras": [{"value": "[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=hhs-cas-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "6ecff745-213b-4114-8230-3a6aed46a149",
        "metadata_created": "2014-04-11T07:17:22.0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=vermont-open-geodata-portal
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "aa91d98b-3f6a-4fd6-850a-d92252daec31",
        "metadata_created": "2017-0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=city-of-ferndale-michigan-data-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "dae50926-7824-42b1-8574-6204a0b1dc51",
        "metadata_created":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=homeland-infrastructure-foundation-level-data-hifld
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "695b05a8-35a3-42b5-a6f2-c191d0357de2",
        "metadata_created": "2017-01-24T19:31:41.516926", "metadata_modified": "2017-01-25T01:46:35.773527",
        "title": "Homeland Infrastructure Foundation Level Data (HIFLD)", "state":
        "active", "creator_user_id": "A189028", "type": "harvest", "resources": [],
        "status": {"job_count": 1, "total_datasets": 0, "last_job": {"id": "361e7f09-e0a6-41d7-a2b2-872f6b689e47",
        "created": "2017-01-25 01:46:42.198134", "gather_started": "2017-01-25 01:48:05.795443",
        "gather_finished": "2017-01-25 01:48:12.113905", "finished": "2017-01-25 01:48:17.487727",
        "source_id": "695b05a8-35a3-42b5-a6f2-c191d0357de2", "status": "Finished",
        "stats": {"errored": 320}, "object_error_summary": [{"message": "Identifier:
        http://hifld-dhs-gii.opendata.arcgis.com/datasets/05f46500236347f5a0606e0fdc016c0c_0;
        Title: River Lines (USACE IENC); 1 Error(s) Found. ### ERROR #1: ''contactPoint'':''mailto:''
        does not match u\"^mailto:[\\\\w\\\\_\\\\~\\\\!\\\\$\\\\&\\\\''\\\\(\\\\)\\\\*\\\\+\\\\,\\\\;\\\\=\\\\:.-]+@[\\\\w.-]+\\\\.[\\\\w.-]+?$\".",
        "error_count": 1}, {"message": "Identifier: http://hifld-dhs-gii.opendata.arcgis.com/datasets/4b50477def264707a4dc9289f124853d_0;
        Title: Bridge Areas (USACE IENC); 1 Error(s) Found. ### ERROR #1: ''contactPoint'':''mailto:''
        does not match u\"^mailto:[\\\\w\\\\_\\\\~\\\\!\\\\$\\\\&\\\\''\\\\(\\\\)\\\\*\\\\+\\\\,\\\\;\\\\=\\\\:.-]+@[\\\\w.-]+\\\\.[\\\\w.-]+?$\".",
        "error_count": 1}, {"message": "Identifier: http://hifld-dhs-gii.opendata.arcgis.com/datasets/768caec24d6c4b8aa1b2759faacd2b[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=city-of-jackson-mississippi-data-json-harvest-source
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "5e1d32a5-c14a-4472-a0e0-047c3765f42d",
        "m[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=legal-services-corporation-data-json-harvest-source
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "ecc76ad5-47af-454f-8c62-651fabf53bad",
        "me[...]
[...]
