interactions:
- request:
    body: '{"id": "law1129"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/group_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=group_show",
        "success": true, "result": {"users": [], "display_name": "Law", "description":
        "", "image_display_url": "", "package_count": 73, "created": "2013-05-18T12:07:50.417597",
        "name": "law1129", "is_organization": false, "state": "active", "extras":
        [], "image_url": "", "groups": [], "type": "group", "title": "Law", "revision_id":
        "37a0b903-3977-420f-bafc-78870dc4eb45", "packages": [{"owner_org": "eb6f5647-6541-40ad-a328-841bdc838058",
        "maintainer": null, "relationships_as_object": [], "private": false, "maintainer_email":
        null, "num_tags": 0, "id": "EOP-5014", "metadata_created": "2013-05-18T09:53:08.337173",
        "metadata_modified": "2014-01-12T07:30:38.548561", "author": null, "author_email":
        null, "state": "active", "version": null, "license_id": null, "type": "dataset",
        "num_resources": 1, "tags": [], "title": "USTR 2010 FOIA Log", "tracking_summary":
        {"total": 123, "recent": 2}, "creator_user_id": null, "relationships_as_subject":
        [], "name": "ustr-2010-foia-log", "isopen": false, "url": null, "notes": "USTR
        2010 FOIA Log", "license_title": null, "organization": {"description": "",
        "created": "2013-05-18T11:51:14.128893", "title": "US Trade Representative,
        Executive Office of the President", "name": "ustr-eop-gov", "is_organization":
        true, "state": "active", "image_url": "", "revision_id": "1e7b61ff-b800-4094-a5c2-180176aaf277",
        "type": "organization", "id": "eb6f5647-6541-40ad-a328-841bdc838058", "approval_status":
        "approved"}, "revision_id": "38200b08-fae0-4bfc-8120-d7a94b1c7f88"}, {"owner_org":
        "eb6f5647-6541-40ad-a328-841bdc838058", "maintainer": null, "relationships_as_object":
        [], "private": false, "maintainer_email": null, "num_tags": 0, "id": "EOP-5013",
        "metadata_created": "2013-05-18T09:53:06.625611", "metadata_modified": "2014-01-12T07:30:37.266611",
        "author": null, "author_email": null, "state": "active", "version": null,
        "license_id": null, "type": "dataset", "num_resources": 1, "tags": [], "title":
        "USTR 2009 FOIA Log", "tracking_summary": {"total": 93, "recent": 2}, "creator_user_id":
        null, "relationships_as_subject": [], "name": "ustr-2009-foia-log", "isopen":
        false, "url": null, "notes": "USTR''s 2009 FOIA Log", "license_title": null,
        "organization": {"description": "", "created": "2013-05-18T11:51:14.128893",
        "title": "US Trade Representative, Executive Office of the President", "name":
        "ustr-eop-gov", "is_organization": true, "state": "active", "image_url": "",
        "revision_id": "1e7b61ff-b800-4094-a5c2-180176aaf277", "type": "organization",
        "id": "eb6f5647-6541-40ad-a328-841bdc838058", "approval_status": "approved"},
        "revision_id": "dc98f1bc-a69a-48fc-aede-48b7c943f0ad"}], "num_followers":
        0, "id": "efad904d-8f25-4995-a9dd-4c7c0d88f6b0", "tags": [], "approval_status":
        "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "law1129"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ckan:5000/api/3/action/group_show
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=group_show",
        "success": true, "result": {"users": [], "display_name": "Law", "description":
        "", "image_display_url": "", "package_count": 55, "created": "2020-10-13T18:24:03.745831",
        "name": "law1129", "is_organization": false, "state": "active", "extras":
        [], "image_url": "", "groups": [], "type": "group", "title": "Law", "revision_id":
        "db7a1201-20f1-4971-ac62-3bb1d4953216", "num_followers": 0, "id": "31b93e37-2766-42fc-b9ed-1fb15e94dd7b",
        "tags": [], "approval_status": "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"users": [], "display_name": "Law", "description": "", "image_display_url":
      "", "package_count": 73, "created": "2013-05-18T12:07:50.417597", "name": "law1129",
      "is_organization": false, "state": "active", "extras": [], "image_url": "",
      "groups": [], "type": "group", "title": "Law", "revision_id": "37a0b903-3977-420f-bafc-78870dc4eb45",
      "num_followers": 0, "tags": [], "approval_status": "approved", "id": "31b93e37-2766-42fc-b9ed-1fb15e94dd7b"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: POST
    uri: https://ckan:5000/api/3/action/group_update
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=group_update",
        "success": true, "result": {"users": [], "display_name": "Law", "description":
        "", "image_display_url": "", "title": "Law", "package_count": 55, "created":
        "2020-10-13T18:24:03.745831", "approval_status": "approved", "is_organization":
        false, "state": "active", "extras": [], "image_url": "", "groups": [], "revision_id":
        "db7a1201-20f1-4971-ac62-3bb1d4953216", "packages": [{"license_title": "us-pd",
        "maintainer": "Catherine Stanton", "relationships_as_object": [], "private":
        false, "maintainer_email": "Catherine.Stanton@ASBCA.MIL", "num_tags": 3, "id":
        "3d352be6-cc9f-4882-adf8-fbe7411e1995", "metadata_created": "2020-08-06T18:20:46.117491",
        "metadata_modified": "2020-10-14T15:09:12.103488", "author": null, "author_email":
        null, "state": "active", "version": null, "creator_user_id": "13243459-1432-4fb3-bf74-f4bc6365d749",
        "type": "dataset", "resources": [{"mimetype": "text/html", "cache_url": null,
        "hash": "", "description": "decisions2000.html", "name": "1d6f4e8f-10e7-4605-aec1-bfc4c3799552",
        "format": "HTML", "url": "http://www.asbca.mil/Decisions/decisions2000.html",
        "cache_last_updated": null, "package_id": "3d352be6-cc9f-4882-adf8-fbe7411e1995",
        "created": "2020-08-06T18:20:46.227007", "state": "active", "mimetype_inner":
        null, "last_modified": null, "position": 0, "revision_id": "adfe52f1-01cd-4079-a55b-f47864fbd43e",
        "url_type": null, "id": "d5ddea4f-d489-4734-94e2-ba3c37690767", "resource_type":
        null, "size": null}], "num_resources": 1, "tags": [{"vocabulary_id": null,
        "state": "active", "display_name": "contract-appeal", "id": "4952064e-8c01-4ab7-9f4b-61a0752a8aae",
        "name": "contract-appeal"}, {"vocabulary_id": null, "state": "active", "display_name":
        "contract-dispute", "id": "c1870ae8-7b3c-4c24-a113-d3a2f851b7d2", "name":
        "contract-dispute"}, {"vocabulary_id": null, "state": "active", "display_name":
        "defense-contractor", "id": "f37d9e6b-3b38-419f-a413-510277de8833", "name":
        "defense-contractor"}], "gro[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=0&rows=500&fq=groups%3Alaw1129
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 73, "sort": "views_recent desc", "facets":
        {}, "results": [{"license_title": null, "maintainer": null, "relationships_as_object":
        [], "private": false, "maintainer_email": null, "num_tags": 0, "id": "EOP-5014",
        "metadata_created": "2013-05-18T09:53:08.337173", "metadata_modified": "2014-01-12T07:30:38.548561",
        "author": null, "author_email": null, "state": "active", "version": null,
        "creator_user_id": null, "type": "dataset", "resources": [{"cache_last_updated":
        null, "package_id": "EOP-5014", "webstore_last_updated": null, "id": "906a2aa6-f792-44e1-bc7b-c98ada8ac2fa",
        "size": null, "size_text": "13.7", "state": "active", "archiver": "{''is_broken_printable'':
        ''Broken'', ''updated'': ''2017-12-11T04:40:11.393652'', ''cache_filepath'':
        None, ''last_success'': None, ''size'': u''0'', ''is_broken'': True, ''failure_count'':
        2, ''etag'': None, ''status'': ''Download error'', ''url_redirected_to'':
        None, ''hash'': None, ''status_id'': 12, ''reason'': u''Server reported status
        error: 404 Not Found'', ''last_modified'': None, ''resource_timestamp'': ''2013-05-25T06:43:32.129334'',
        ''mimetype'': None, ''cache_url'': None, ''created'': ''2017-12-11T04:33:04.163257'',
        ''first_failure'': ''2017-12-11T04:33:04.153080''}", "hash": "", "description":
        "", "format": "CSV", "tracking_summary": {"total": 28, "recent": 1}, "mimetype_inner":
        null, "url_type": null, "revision_id": "c0de4141-a8ba-4f1f-9412-477352eec325",
        "mimetype": null, "cache_url": null, "name": "Comma Separated Values File",
        "created": "2013-05-18T11:53:08.361419", "url": "http://ustr.gov/webfm_send/2964",
        "webstore_url": null, "qa": "{''updated'': ''2017-12-12T13:08:34.580127'',
        ''openness_score'': 0, ''archival_timestamp'': ''2017-12-11T04:40:11.393652'',
        ''format'': None, ''created'': ''2017-12-12T12:32:16.753457'', ''resource_timestamp'':
        None, ''openness_score_reason'': u''File could not be downloaded. Reason:
        Download error. Error details: Server reported status error: 404 Not Found.
        Attempted on 11/12/2017. Tried 2 times since 11/12/2017. This URL has not
        worked in the history of this tool.''}", "last_modified": null, "position":
        0, "no_real_name": "True", "resource_type": null}], "num_resources": 1, "tags":
        [], "tracking_summary": {"total": 123, "recent": 2}, "groups": [{"display_name":
        "Law", "description": "", "image_display_url": "", "title": "Law", "id": "efad904d-8f25-4995-a9dd-4c7c0d88f6b0",
        "name": "law1129"}], "license_id": null, "relationships_as_subject": [], "organization":
        {"description": "", "created": "2013-05-18T11:51:14.128893", "title": "US
        Trade Representative, Executive Office of the President", "name": "ustr-eop-gov",
        "is_organization": true, "state": "active", "image_url": "", "revision_id":
        "1e7b61ff-b800-4094-a5c2-180176aaf277", "type": "organization", "id": "eb6f5647-6541-40ad-a328-841bdc838058",
        "approval_status": "approved"}, "name": "ustr-2010-foia-log", "isopen": false,
        "url": null, "notes": "USTR 2010 FOIA Log", "owner_org": "eb6f5647-6541-40ad-a328-841bdc838058",
        "extras": [{"key": "data-quality", "value": "TRUE"}, {"key": "contact-email",
        "value": "ksneed@ustr.eop.gov"}, {"key": "data-dictiionary", "value": "http://www.ustr.gov/about-us/reading-room/freedom-information-act-foia/annual-foia-reports"},
        {"key": "issued", "value": "7/11/2011"}, {"key": "resource-type", "value":
        "Dataset"}, {"key": "dataset-reference-date", "value": "1/1/2010 - 12/31/2010"},
        {"key": "spatial-text", "value": "n/a"}, {"key": "theme", "value": ["Section
        1. Population"]}, {"key": "[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=ustr-2010-foia-log
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=defense-office-of-hearings-appeals-decisions-military-personnel-claim-decisions-2006
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "DOHA",
        "relationships_as_object": [], "private": false, "maintaine[...]
[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=defense-office-of-hearings-appeals-decisions-transportation-and-contractual-claim-decision-e9a1b
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=armed-services-board-of-contract-appeals-published-decisions-2002
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "Catherine
        Stanton", "relationships_as_object": [], "private": false, "maintainer_emai[...]
[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=defense-office-of-hearings-appeals-decisions-industrial-security-clearance-decisions-1998
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "DOHA",
        "relationships_as_object": [], "private": false, "main[...]
[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=defense-office-of-hearings-appeals-decisions-transportation-and-contractual-claim-decision
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "DOHA",
        "relationships_as_object": [], "private": false, "mai[...]
[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=hud-administrative-law-judges-decisions
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "License not specified", "maintainer":
        "Ghislain Aka", "relationships_as_object": [], "private": false, "maintainer_email":
        "Gh[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=generic-issues
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "Creative Commons CCZero", "maintainer":
        "Jeffrey Main", "relationships_as_object": [], "private": false, "maintainer_email":
        "Jeffrey.Main@nrc.gov", "n[...]
[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=hud-hearings-and-appeals-office-decisions
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "License not specified", "maintainer":
        "Ghislain Aka", "relationships_as_object": [], "private": false, "maintainer_email":
        "[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=us-trade-overview-presentation
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=current-population-survey-voting-and-registration-supplement
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "Lisa
        Clement", "relationships_as_object": [], "private": false, "maintainer_email":
      [...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=annual-survey-of-public-employee-retirement-systems-state-administered-pensions
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "EWD Outreach",
        "relationships_as_object": [], "private": false, "mainta[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=110th-congressional-districts-geographic-relationship-tables
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "Jennifer
        Holland", "relationships_as_object": [], "private": false, "maintainer_email":
  [...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=111th-congressional-districts-and-land-area
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "Jennifer
        Holland", "relationships_as_object": [], "private": false, "maintainer_email":
        "geo.geogra[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=111th-congressional-districts-and-zip-code-tabulation-areas
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "Jennifer
        Holland", "relationships_as_object": [], "private": false, "maintainer_email":
   [...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=111th-congressional-districts-and-counties
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "Jennifer
        Holland", "relationships_as_object": [], "private": false, "maintainer_email":
        "geo.geograp[...]
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=online-list-of-antidumping-and-antisubsidy-countervailing-duty-measures-involvin
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": false, "error": {"message": "Not found", "__type": "Not Found Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
      X-CKAN-API-Key:
      - 2301-aw23-1114
    method: GET
    uri: https://ckan:5000/api/3/action/package_show?id=online-ftz-information-system-ofis
  response:
    body:
      string: '{"help": "https://ckan:5000/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "us-pd", "maintainer": "Liz Whiteman",
        "relationships_as_object": [], "private": false, "maintainer_email": "elizabeth.whiteman@trade.gov",
[...]
[...]
