interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=0&rows=100&q=%28type%3Aharvest%29&fq=%2Bdataset_type%3Aharvest&sort=metadata_created+asc
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 1084, "sort": "metadata_created asc",
        "facets": {}, "results": [{"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "04ee9ffb-6362-4f7e-9816-9d2f9ad4dee8",
        "metadata_created": "2013-03-14T02:45:12.979958", "metadata_modified": "2020-07-13T15:46:19.966700",
        "title": "Aerial imagery, Idaho State Univ", "state": "active", "creator_user_id":
        null, "type": "harvest", "resources": [], "tags": [], "source_type": "waf",
        "tracking_summary": {"total": 20, "recent": 0}, "groups": [], "relationships_as_subject":
        [], "name": "aerial-imagery-idaho-state-univ", "url": "http://giscenter-sl.isu.edu/AOC/MetadataDOQQ/",
        "notes": "", "owner_org": "e2989651-3650-4143-97d2-3989d3d1332c", "extras":
        [], "organization": {"description": "", "title": "Idaho State University",
        "created": "2013-03-14T03:44:47.625235", "approval_status": "approved", "is_organization":
        true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/en/thumb/7/7f/Idaho_State_University_Seal.svg/538px-Idaho_State_University_Seal.svg.png",
        "revision_id": "082abca7-323d-4508-9cae-ff51228ddbee", "type": "organization",
        "id": "e2989651-3650-4143-97d2-3989d3d1332c", "name": "isu-edu"}, "revision_id":
        "4d92bd50-6e12-4883-b1cb-ec75ac9509e5"}, {"relationships_as_object": [], "private":
        false, "revision_timestamp": null, "frequency": "WEEKLY", "id": "1957b003-6c2f-453d-b4a5-c9d0cea621b6",
        "metadata_created": "2013-03-14T02:45:13.222452", "metadata_modified": "2019-04-02T18:41:40.268260",
        "title": "Alaska Departme[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=100&rows=100&q=%28type%3Aharvest%29&fq=%2Bdataset_type%3Aharvest&sort=metadata_created+asc
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 1084, "sort": "metadata_created asc",
        "facets": {}, "results": [{"collection_metadata_url": "http://meta.geo.census.gov/data/existing/decennial/GEO/GPMB/TIGERline/TIGER2013/SeriesCollection/SeriesCollection_tl_2013_aitsn.shp.iso.xml",
        "private": false, "revision_timestamp": null, "frequency": "MANUAL", "id":
        "69a506d5-1a28-4b20-981e-1aedb5dcbe2c", "metadata_created": "2013-09-13T14:22:22.769913",
        "metadata_modified": "2013-09-13T14:22:22.769913", "title": "Current American
        Indian Tribal Subdivision (AITS) National", "state": "active", "relationships_as_object":
        [], "creator_user_id": "65349", "config": "{\"collection_metadata_url\": \"http://meta.geo.census.gov/data/existing/decennial/GEO/GPMB/TIGERline/TIGER2013/SeriesCollection/SeriesCollection_tl_2013_aitsn.shp.iso.xml\",
        \"validator_profiles\": [\"iso19139ngdc\"], \"private_datasets\": false}",
        "resources": [], "tags": [], "source_type": "waf-collection", "tracking_summary":
        {"total": 39, "recent": 1}, "groups": [], "relationships_as_subject": [],
        "name": "current-american-indian-tribal-subdivision-aits-national", "url":
        "http://meta.geo.census.gov/data/existing/decennial/GEO/GPMB/TIGERline/TIGER2013/aitsn/",
        "type": "harvest", "notes": "American Indian tribal subdivisions are administrative
        subdivisions of federally recognized [...]
[...]
