interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=fdic-data-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "WEEKLY", "id": "f1b2d147-163f-412c-9e7a-e76040076376",
        "metadata_created": "2019-05-14T20:41:21.732116", "metadata_modified": "2019-05-21T14:43:27.166412",
        "title": "FDIC data.json", "state": "active", "creator_user_id": "A041752",
        "type": "harvest", "resources": [], "status": {"job_count": 63, "total_datasets":
        6, "last_job": {"id": "5779e37e-b201-4fbb-a98c-08b4950c1c0b", "created": "2020-07-15
        02:54:04.497032", "gather_started": "2020-07-15 02:54:36.381876", "gather_finished":
        "2020-07-15 02:54:37.067074", "finished": "2020-07-15 03:01:05.345388", "source_id":
        "f1b2d147-163f-412c-9e7a-e76040076376", "status": "Finished", "stats": {},
        "object_error_summary": [], "gather_error_summary": []}}, "tags": [], "source_type":
        "datajson", "tracking_summary": {"total": 1, "recent": 0}, "groups": [], "active":
        true, "relationships_as_subject": [], "name": "fdic-data-json", "url": "https://www.fdic.gov/data.json",
        "notes": "", "owner_org": "5021090a-be95-4013-946d-5ab92bac68ff", "extras":
        [{"value": "{\"private_datasets\": \"False\"}", "key": "config"}], "organization":
        {"description": "", "title": "Federal Deposit Insurance Corporation", "created":
        "2013-05-18T11:55:36.991279", "approval_status": "approved", "is_organization":
        true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "revision_id": "145b198e-6374-468d-9a5b-030515f9db4c", "type": "organization",
        "id": "5021090a-be95-4013-946d-5ab92bac68ff", "name": "fdic-gov"}, "revision_id":
        "55c3d85b-63ae-4400-9d24-2909cb461d86"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "fdic-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/organization_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=organization_show",
        "success": true, "result": {"users": [], "display_name": "Federal Deposit
        Insurance Corporation", "description": "", "image_display_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "package_count": 10, "created": "2013-05-18T11:55:36.991279", "name": "fdic-gov",
        "is_organization": true, "state": "active", "extras": [{"value": "dmentall@fdic.gov\r\njemartinez@fdic.gov",
        "state": "active", "key": "email_list", "revision_id": "28e787c7-bcd5-42b8-a3b0-aff94e85590f",
        "group_id": "5021090a-be95-4013-946d-5ab92bac68ff", "id": "b6e18fc3-f88a-4b23-9865-32d1cd68c11a"},
        {"value": "Federal Government", "state": "active", "key": "organization_type",
        "revision_id": "81328916-26ed-4276-ab29-c7d304bb9c92", "group_id": "5021090a-be95-4013-946d-5ab92bac68ff",
        "id": "7ae3d4ee-c0c9-47cf-8ab0-51029af7c8c2"}], "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "groups": [], "type": "organization", "title": "Federal Deposit Insurance
        Corporation", "revision_id": "145b198e-6374-468d-9a5b-030515f9db4c", "packages":
        [{"owner_org": "5021090a-be95-4013-946d-5ab92bac68ff", "maintainer": null,
        "relationships_as_object": [], "private": false, "maintainer_email": null,
        "num_tags": 0, "id": "FDIC-1374", "metadata_created": "2013-05-18T09:55:37.333842",
        "metadata_modified": "2014-01-12T07:33:05.083648", "author": null, "author_email":
        null, "state": "active", "version": null, "license_id": null, "type": "dataset",
        "num_resources": 1, "tags": [], "title": "FDIC Failed Bank List", "tracking_summary":
        {"total": 18591, "recent": 1}, "creator_user_id": null, "relationships_as_subject":
        [], "name": "fdic-failed-bank-list", "isopen": false, "url": null, "notes":
        "The FDIC is often appointed as receiver for failed banks. This list includes
        banks which have failed since October 1, 2000.", "license_title": null, "organization":
        {"description": "", "created": "2013-05-18T11:55:36.991279", "title": "Federal
        Deposit Insurance Corporation", "name": "fdic-gov", "is_organization": true,
        "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "revision_id": "145b198e-6374-468d-9a5b-030515f9db4c", "type": "organization",
        "id": "5021090a-be95-4013-946d-5ab92bac68ff", "approval_status": [...]
- request:
    body: '{"name": "fdic-gov", "title": "Federal Deposit Insurance Corporation",
      "description": "", "id": "5021090a-be95-4013-946d-5ab92bac68ff", "image_url":
      "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
      "extras": [{"key": "email_list", "value": "dmentall@fdic.gov\r\njemartinez@fdic.gov"},
      {"key": "organization_type", "value": "Federal Government"}]}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 3ce7e6c1-d42d-414c-8b5b-7c8149945dd7
    method: POST
    uri: http://ckan:5000/api/3/action/organization_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_create",
        "success": true, "result": {"users": [{"email_hash": "7c512b13badc48258d94ef72d1c8889a",
        "about": null, "capacity": "admin", "name": "admin", "created": "2020-07-21T00:14:45.421879",
        "sysadmin": true, "activity_streams_email_notifications": false, "state":
        "active", "number_of_edits": 27, "display_name": "admin", "fullname": null,
        "id": "de6fd018-c88c-4aa6-8f69-4a7bfc809e5a", "number_created_packages": 4}],
        "display_name": "Federal Deposit Insurance Corporation", "description": "",
        "image_display_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "package_count": 0, "created": "2020-07-21T00:28:50.164396", "name": "fdic-gov",
        "is_organization": true, "state": "active", "extras": [{"value": "dmentall@fdic.gov\r\njemartinez@fdic.gov",
        "state": "active", "key": "email_list", "revision_id": "49e83595-b3b3-49d7-98c5-28d9b1c09659",
        "group_id": "5021090a-be95-4013-946d-5ab92bac68ff", "id": "d30e50f6-32fc-494d-a339-ab72689856d2"},
        {"value": "Federal Government", "state": "active", "key": "organization_type",
        "revision_id": "49e83595-b3b3-49d7-98c5-28d9b1c09659", "group_id": "5021090a-be95-4013-946d-5ab92bac68ff",
        "id": "82872c78-98cf-4db9-87bb-3d756acd35f3"}], "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/US-FDIC-Logo.svg/150px-US-FDIC-Logo.svg.png",
        "groups": [], "type": "organization", "title": "Federal Deposit Insurance
        Corporation", "revision_id": "49e83595-b3b3-49d7-98c5-28d9b1c09659", "num_followers":
        0, "id": "5021090a-be95-4013-946d-5ab92bac68ff", "tags": [], "approval_status":
        "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "fdic-data-json", "owner_org": "fdic-gov", "title": "FDIC data.json",
      "url": "https://www.fdic.gov/data.json", "notes": "", "source_type": "datajson",
      "frequency": "WEEKLY", "config": "{\"private_datasets\": \"False\"}", "extras":
      [], "id": "f1b2d147-163f-412c-9e7a-e76040076376"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 3ce7e6c1-d42d-414c-8b5b-7c8149945dd7
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=https://www.fdic.gov/data.json
        config={\"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=fdic-data-json
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "WEEKLY", "id": "60b2e262-41ab-4af2-a6a5-9413f195946e", "metadata_created":
        "2020-07-21T00:28:50.466976", "metadata_modified": "2020[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=fcc
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "DAILY", "id": "1cf10df3-9f67-421d-aa6e-d22540eb2445",
        "metadata_created": "2016-06-28T23:26:10.875636", "metadata_modified": "2019-02-19T20:13:27.687578",
        "title": "FCC Data.json", "state": "active", "creator_user_id": "69411", "type":
        "harvest", "resources": [], "status": {"job_count": 518, "total_datasets":
        29, "last_job": {"id": "c2d9fcf9-977b-45b2-aa92-b78a36f5bdbc", "created":
        "2020-07-20 21:00:04.508899", "gather_started": "2020-07-20 21:20:46.670753",
        "gather_finished": "2020-07-20 21:20:48.855397", "finished": "2020-07-20 21:20:54.764026",
        "source_id": "1cf10df3-9f67-421d-aa6e-d22540eb2445", "status": "Finished",
        "stats": {"updated": 7, "errored": 14}, "object_error_summary": [{"message":
        "Identifier: https://opendata.fcc.gov/api/views/acbv-jbb4; Title: Protected
        FSS Earth Station Registration (Complete Dataset); 1 Error(s) Found. ### ERROR
        #1: ''contactPoint'':''hasEmail'' is a required property.", "error_count":
        1}, {"message": "Identifier: https://opendata.fcc.gov/api/views/sgz3-kiqt;
        Title: Fixed Broadband Deployment Data: Jun, 2019 Status V1; 1 Error(s) Found.
        ### ERROR #1: ''contactPoint'':''mailto:Austin Moewe'' is not valid under
        any of the given schemas.", "error_count": 1}, {"message": "Identifier: https://opendata.fcc.gov/api/views/9wyt-yvgw;
        Title: Provider Table December 2018; 2 Error(s) Found. ### ERROR #1: ''keyword''
        is a required property;  ### ERROR #2: ''contactPoint'':''mailto:Alireza Shadman''
        is not valid under any of the g[...]
[...]
- request:
    body: '{"name": "fcc-gov", "title": "Federal Communications Commission", "description":
      "", "id": "3189c361-4893-4606-be3f-f7350cf4a175", "image_url": "https://transition.fcc.gov/files/logos/fcc-logo_teal-on-white.jpg",
      "extras": [{"key": "email_list", "value": "hyon.kim@gsa.gov\r\ncrystal.carter@gsa.gov"},
      {"key": "organization_type", "value": "Federal Government"}]}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 3ce7e6c[...]
- request:
    body: '{"name": "fcc", "owner_org": "fcc-gov", "title": "FCC Data.json", "url":
      "http://opendata.fcc.gov/data.json", "notes": "FCC Data.json harvest source",
      "source_type": "datajson", "frequency": "DAILY", "config": "{\"private_datasets\":
      \"False\"}", "extras": [], "id": "1cf10df3-9f67-421d-aa6e-d22540eb2445"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 3ce7e6c1-d42d-414c-8b5b-7c8149945dd7
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=http://opendata.fcc.gov/data.json
        config={\"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=fcc
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "DAILY", "id": "b3e42684-15a8-49d0-8037-29fb8f1c8db2", "metadata_created":
        "2020-07-21T00:29:01.168753", "metadata_modified": "2020-07-21T00:29[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=doi-cas-datajam
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "0d58273e-fbe7-45dc-b46d-bdd106afbb72",
        "metadata_created": "2014-04-10T19:49:49.806335", "metadata_modified": "2014-04-10T19:49:49.806335",
        "title": "DOI CAS datajam", "state": "active", "creator_user_id": null, "config":
        "{\"private_datasets\": \"False\"}", "resources": [], "status": {"job_count":
        1, "total_datasets": 3, "last_job": {"id": "d6d44721-8104-4bad-8ec3-1b3696648f73",
        "created": "2014-04-10 19:49:58.374422", "gather_started": "2014-04-10 19:51:22.063418",
        "gather_finished": "2014-04-10 19:51:22.781442", "finished": "2014-04-10 19:51:23.942850",
        "source_id": "0d58273e-fbe7-45dc-b46d-bdd106afbb72", "status": "Finished",
        "stats": {"added": 3}, "object_error_summary": [], "gather_error_summary":
        []}}, "tags": [], "source_type": "datajson", "tracking_summary": {"total":
        23, "recent": 0}, "groups": [], "active": true, "relationships_as_subject":
        [], "name": "doi-cas-datajam", "url": "https://raw.githubusercontent.com/gbinal/data/master/datasets/doi_cas.json",
        "type": "harvest", "notes": "", "owner_org": "01ca8df8-6248-41e6-baa2-8b682e4b5a08",
        "private_datasets": "False", "extras": [{"value": "[...]
- request:
    body: '{"id": "doi-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/organization_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=organization_show",
        "success": true, "result": {"users": [{"email_hash": "ba8b9e64ac3c0b01ada31a5782df4d7e",
        "about": null, "capacity": "member", "name": "james_brown@ios.doi.gov", "created":
        "2017-08-02T17:15:08.368338", "openid": null, "sysadmin": false, "activity_streams_email_notifications":
        false, "state": "active", "number_of_edits": 10, "display_name": "james_brown@ios.doi.gov",
        "fullname": null, "id": "A271389", "number_created_packages": 0}], "display_name":
        "Department of the Interior", "description": "The Department of the Interior
        (DOI) conserves and manages the Nation\u2019s natural resources and cultural
        heritage for the benefit and enjoyment of the American people, pr[...]
- request:
    body: '{"name": "doi-gov", "title": "Department of the Interior", "description":
      "DOI Data will be temporarily unavailable on data.gov from 4/30 - 5/2. Access
      will remain at [https://data.doi.gov](https://data.doi.gov).\r\n\r\nThe Department
      of the Interior (DOI) conserves and manages the Nation\u2019s natural resources
      and cultural heritage for the benefit and enjoyment of the American people,
      provides scientific and other information about natural r[...]
- request:
    body: '{"name": "doi-cas-datajam", "owner_org": "doi-gov", "title": "DOI CAS datajam",
      "url": "https://raw.githubusercontent.com/gbinal/data/master/datasets/doi_cas.json",
      "notes": "", "source_type": "datajson", "frequency": "MANUAL", "config": "{\"private_datasets\":
      \"False\"}", "extras": [], "id": "0d58273e-fbe7-45dc-b46d-bdd106afbb72"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 3ce7e6c1-d42d-414c-8b5b-7c8149945dd7
    method: POST
    uri: http://ckan:5000/api/3/action/harvest_source_create
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_create",
        "success": false, "error": {"name": ["That URL is already in use."], "url":
        ["There already is a Harvest Source for this URL (& config): url=https://raw.githubusercontent.com/gbinal/data/master/datasets/doi_cas.json
        config={\"private_datasets\": \"False\"}"], "__type": "Validation Error"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 409
      message: CONFLICT
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=doi-cas-datajam
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "ecc56f54-b550-4176-87ec-5c097e959d1e", "metadata_created":
        "2020-07-21T00:29:06.226488", "metadata_modified": "202[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=fhfa-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "ed3cf881-6549-48e7-9268-903372a22fa5",
        "metadata_created": "2014-03-07T02:41[...]
[...]
- request:
    body: '{"name": "fhfa-gov", "title": "Federal Housing Finance Agency", "description":
      "", "id": "eeee1888-fe06-494e-9ad1-524f41488639", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/US-FederalHousingFinanceAgency-Seal.svg/200px-US-FederalHousingFinanceAgency-Seal.svg.png",
      "extras": [{"key": "email_list", "value": "crystal.carter@gsa.gov"}, {"key":
      "organization_type", "value": "Federal Government"}]}'
    headers:
      Content-Type:
  [...]
- request:
    body: '{"name": "fhfa-json", "owner_org": "fhfa-gov", "title": "FHFA JSON", "url":
      "http://www.fhfa.gov/data.json", "notes": "", "source_type": "datajson", "frequency":
      "MANUAL", "config": "{\"private_datasets\": \"False\"}", "extras": [], "id":
      "ed3cf881-6549-48e7-9268-903372a22fa5"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - 3ce7e6c1-d42d-414c-8b5b-7c8149945dd7
    method: POST
    uri: http://ckan:5000/api/3/action[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=nc-onemap-csw
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "default_groups": "local",
        "id": "f6462f24-5acc-4eaf-937e-f8341585087c", "metadata_created": "2013-03-14T02:45:28.335452",
        "metadata_modified": "2015-04-11T12:11:54.105570", "title": "NC OneMap CSW",
        "state": "active", "creator_user_id": "69411", "config": "{\"default_groups\":
        [\"local\"], \"private_datasets\": false}", "resources": [], "status": {"job_count":
        1, "total_datasets": 1, "last_job": {"id": "336314c9-fc20-4f3c-a084-e8bf9709048a",
        "created": "2013-03-14[...]
[...]
- request:
    body: '{"name": "nc-gov", "title": "State of North Carolina", "description": "",
      "id": "1abdfb5f-4371-4fa3-8ef3-497cebe1b3fe", "image_url": "http://www.nconemap.com/portals/7/images/gpt_logo_small.png",
      "extras": [{"key": "email_list", "value": "crystal.carter@gsa.gov"}, {"key":
      "organization_type", "value": "State Government"}]}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - e489535e-1e5f-463a-a5ab-58454a27aeff
    metho[...]
- request:
    body: '{"id": "local"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://catalog.data.gov/api/3/action/group_show
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=group_show",
        "success": true, "result": {"users": [{"email_hash": "ac5b636935bb849fa931ba4956264482",
        "about": null, "capacity": "editor", "name": "kvuppala", "created": "2013-02-26T23:40:25.2985[...]
- request:
    body: '{"users": [{"email_hash": "ac5b636935bb849fa931ba4956264482", "about":
      null, "capacity": "editor", "name": "kvuppala", "created": "2013-02-26T23:40:25.298556",
      "openid": null, "sysadmin": false, "activity_streams_email_notifications": false,
      "state": "deleted", "number_of_edits": 100590, "display_name": "Kishore Vuppala",
      "fullname": "Kishore Vuppala", "id": "69411", "number_created_packages": 54}],
      "display_name": "Local Government", "descript[...]
- request:
    body: '{"name": "nc-onemap-csw", "owner_org": "nc-gov", "title": "NC OneMap CSW",
      "url": "http://data.nconemap.com/geoportal/csw?Request=GetCapabilities&Service=CSW&Version=2.0.2",
      "notes": "", "source_type": "csw", "frequency": "MANUAL", "config": "{\"default_groups\":
      [\"local\"], \"private_datasets\": false}", "extras": [], "id": "f6462f24-5acc-4eaf-937e-f8341585087c"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - e48[...]
[...]
- request:
    body: '{"id": "fdic-gov"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ckan:5000/api/3/action/organization_show
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=organization_show",
        "success": true, "result": {"users": [], "display_name": "Federal Deposit
        Insurance Corporation", "description": "", "image_display_url": "https://upload.wikimedia.org/wikipedia/com[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=fhfa-json
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "id": "48b2173b-e885-46f1-b0fd-e87efc5d8314", "metadata_created":
        "2020-07-30T16:06:40.081841", "metadata_modified": "2020-07-3[...]
[...]
- request:
    body: '{"id": "local"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ckan:5000/api/3/action/group_show
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=group_show",
        "success": true, "result": {"users": [], "display_name": "Local Government",
        "description": "Local Government Topic - for all datasets with state, local,
        county organizations", "image_display_url": "", "package_count": 0, "created":
        "2020-07-30T16:24:26.403222", "name": "local", "is_organization": false, "state":
        "active", "extras": [], "image_url": "", "groups": [], "type": "group", "title":
        "Local Government", "revision_id": "d8f2267b-9acf-44ee-a4c6-9ee4af8fa45f",
        "num_followers": 0, "id": "c2f38f67-fe10-4abd-9c53-92f4929daa3d", "tags":
        [], "approval_status": "approved"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"users": [{"email_hash": "ac5b636935bb849fa931ba4956264482", "about":
      null, "capacity": "editor", "name": "kvuppala", "created": "2013-02-26T23:40:25.298556",
      "openid": null, "sysadmin": false, "activity_streams_email_notifications": false,
      "state": "deleted", "number_of_edits": 100590, "display_name": "Kishore Vuppala",
      "fullname": "Kishore Vuppala", "id": "69411", "number_created_packages": 54}],
      "display_name": "Local Government", "descript[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ckan:5000/api/3/action/harvest_source_show?name_or_id=nc-onemap-csw
  response:
    body:
      string: '{"help": "http://ckan:5000/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "frequency": "MANUAL", "default_groups": "local", "id": "fc69367e-cefb-4615-ae40-5321192b12d7",
        "metadata_created": "2020-07-30T16:24:26.638355", [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=cfpb-json
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "WEEKLY", "id": "afb32af7-87ba-4f27-ae5c-f0d4d0e039dc",
        "metadata_created": "2014-02-26T00:47[...]
[...]
- request:
    body: '{"name": "cfpb-gov", "title": "Consumer Financial Protection Bureau", "description":
      "Consumer Financial Protection Bureau ", "image_url": "https://raw.githubusercontent.com/GSA/logo/master/cfpb.png",
      "extras": [{"key": "email_list", "value": "crystal.carter@gsa.gov\r\nSuzan.Muslu@cfpb.gov"},
      {"key": "organization_type", "value": "Federal Government"}]}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - e4135127-c0a5-4[...]
- request:
    body: '{"name": "cfpb-json", "owner_org": "cfpb-gov", "title": "CFPB JSON", "url":
      "http://www.consumerfinance.gov/data.json", "notes": "", "source_type": "datajson",
      "frequency": "WEEKLY", "config": "{\"private_datasets\": \"False\"}", "extras":
      [], "id": "afb32af7-87ba-4f27-ae5c-f0d4d0e039dc"}'
    headers:
      Content-Type:
      - application/json
      X-CKAN-API-Key:
      - e4135127-c0a5-44f2-8e24-bc4a856cdcc8
    method: POST
    uri: http://ckan:5000/a[...]
