interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=0&rows=100&q=%28type%3Aharvest+source_type%3Ackan%29&fq=%2Bdataset_type%3Aharvest&sort=metadata_created+asc
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 2, "sort": "metadata_created asc", "facets":
        {}, "results": [{"relationships_as_object": [], "private": false, "revision_timestamp":
        null, "frequency": "MANUAL", "id": "0ca4e2f7-2c4d-4c88-b702-aa3b8858c431",
        "metadata_created": "2015-09-25T22:40:25.122555", "metadata_modified": "2015-09-25T22:40:25.122555",
        "title": "test-2016", "state": "active", "creator_user_id": "136151", "config":
        "{\"private_datasets\": \"True\"}", "resources": [], "tags": [], "source_type":
        "ckan", "tracking_summary": {"total": 20, "recent": 1}, "groups": [], "relationships_as_subject":
        [], "name": "test-2016", "url": "test", "type": "harvest", "notes": "", "owner_org":
        "a376a95d-b898-4c79-adb5-3972a55b5953", "private_datasets": "True", "organization":
        {"description": "In 2011, the World-Wide Human Geography Data Working Group
        (WWHGD WG) was created to focus on the need for human geography global foundation
        data in order to provide a basis for a deeper understanding of cultures, activities,
        and attitudes. Well-organized and comprehensive human geography data can be
        applied to analysis that allows us to better anticipate the behavior of people
        over space and time and to inform decision-making that supports human security,
        including crisis mitigation and humanitarian response.  The Working Group
        will focus on understanding why people do what they do where they do it.\r\n\r\nThe
        WWHGD Working Group is designed to build voluntary partnerships around human
        geography data and mapping focused on the general principle of making appropriate
        information available at the appropriate scales to promote human security.  This
        involves a voluntary \"whole-of-governments\" national and international approach
        to create a human geography data framework that can leverage ongoing efforts
        around the world to identify, capture, build, share, and disseminate the best
        available structured and unstructured foundation data.", "created": "2014-01-31T10:57:58.659927",
        "title": "World Wide Human Geography Data Working Group", "name": "wwhgd-nga-org",
        "is_organization": true, "state": "active", "image_url": "http://wwhgd.org/sites/default/files/WWHGD_WorkingGroup_136pixel_Logo.png",
        "revision_id": "23e8ac7d-7a88-4d43-904e-be5088411226", "type": "organization",
        "id": "a376a95d-b898-4c79-adb5-3972a55b5953", "approval_status": "approved"},
        "revision_id": "40c59dc2-0181-491a-8ef9-c6b13c448221"}, {"relationships_as_object":
        [], "private": false, "revision_timestamp": null, "frequency": "MANUAL", "id":
        "5b7e4031-1e2d-428b-92e2-56554bbd7371", "metadata_created": "2020-01-27T21:25:54.099621",
        "metadata_modified": "2020-01-27T21:25:54.242384", "title": "DOI Open Data",
        "state": "active", "creator_user_id": "A418903", "type": "harvest", "resources":
        [], "tags": [], "source_type": "ckan", "tracking_summary": {"total": 0, "recent":
        0}, "groups": [], "relationships_as_subject": [], "name": "doi-open-data",
        "url": "https://data.doi.gov", "notes": "The Open Data provided by the Department
        of the Interior", "owner_org": "01ca8df8-6248-41e6-baa2-8b682e4b5a08", "extras":
        [], "organization": {"description": "The Department of the Interior (DOI)
        conserves and manages the Nation\u2019s natural resources and cultural heritage
        for the benefit and enjoyment of the American people, provides scientific
        and other information about natural resources and natural hazards to address
        societal challenges and create opportunities for the American people, and
        honors the Nation\u2019s trust responsibilities or special commitments to
        American Indians, Alaska Natives, and affiliated island communities to help
        them prosper.\r\n\r\nSee more at https://www.doi.gov/", "created": "2013-05-18T11:54:25.835360",
        "title": "Department of the Interior", "name": "doi-gov", "is_organization":
        true, "state": "active", "image_url": "https://www.doi.gov/sites/doi.opengov.ibmcloud.com/themes/custom/doi_gov/logo.png",
        "revision_id": "18aac2e9-2bb6-4ddb-8f98-155da40f7cab", "type": "organization",
        "id": "01ca8df8-6248-41e6-baa2-8b682e4b5a08", "approval_status": "approved"},
        "revision_id": "ba0d6794-df6d-4de0-be68-5ce5bbcb2a88"}], "search_facets":
        {}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=0ca4e2f7-2c4d-4c88-b702-aa3b8858c431
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "0ca4e2f7-2c4d-4c88-b702-aa3b8858c431",
        "metadata_created": "2015-09-25T22:40:25.122555", "metadata_modified": "2015-09-25T22:40:25.122555",
        "title": "test-2016", "state": "active", "creator_user_id": "136151", "config":
        "{\"private_datasets\": \"True\"}", "resources": [], "status": {"job_count":
        0, "total_datasets": 0, "last_job": null}, "tags": [], "source_type": "ckan",
        "tracking_summary": {"total": 21, "recent": 0}, "groups": [], "active": true,
        "relationships_as_subject": [], "name": "test-2016", "url": "test", "type":
        "harvest", "notes": "", "owner_org": "a376a95d-b898-4c79-adb5-3972a55b5953",
        "private_datasets": "True", "extras": [{"value": "{\"private_datasets\": \"True\"}",
        "key": "config"}], "organization": {"description": "In 2011, the World-Wide
        Human Geography Data Working Group (WWHGD WG) was created to focus on the
        need for human geography global foundation data in order to provide a basis
        for a deeper understanding of cultures, activities, and attitudes. Well-organized
        and comprehensive human geography data can be applied to analysis that allows
        us to better anticipate the behavior of people over space and time and to
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=5b7e4031-1e2d-428b-92e2-56554bbd7371
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "5b7e4031-1e2d-428b-92e2-56554bbd7371",
        "metadata_created": "2020-01-27T21:25:54.099621", "metadata_modified": "2020-01-27T21:25:54.242384",
        "title": "DOI Open Data", "state": "active", "creator_user_id": "A418903",
        "type": "harvest", "resources": [], "status": {"job_count": 1, "total_datasets":
        5089, "last_job": {"id": "a00545da-b6f4-41ae-831f-6b8f34038314", "created":
        "2020-09-28 15:01:28.529919", "gather_started": "2020-09-28 15:09:27.649132",
        "gather_finished": "2020-09-28 15:11:14.353482", "finished": null, "source_id":
        "5b7e4031-1e2d-428b-92e2-56554bbd7371", "status": "Running", "stats": {"deleted":
        157, "errored": 337, "added": 5086, "null": 15492}, "object_error_summary":
        [{"message": "ValidationError(None,)", "error_count": 146}, {"message": "ContentFetchError(u''Could
        not fetch url: https://data.doi.gov/harvest/object/59c69fa7-a064-47d5-ad66-7ca9a6889f06,
        error: HTTP Error 404: Not Found'',)", "error_count": 1}, {"message": "ContentFetchError(u''Could
        not fetch url: https://data.doi.gov/harvest/object/ae65c810-9c3c-44b4-9381-52810328cd66,
        error: HTTP Error 404: Not Found'',)", "error_count": 1}, {"message": "ContentFetchError(u''Could
        not fetch url: https://data.doi.gov/harvest/object/c2c33c36-8e3d-412e-9ad5-da938b1bcad8,
        error: HTTP Error 404: Not Found'',)", "error_count": 1}, {"message": "ContentFetchError(u''Could
  [...]
