interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/package_search?start=0&rows=100&q=%28type%3Aharvest+source_type%3Adatajson%29&fq=%2Bdataset_type%3Aharvest&sort=metadata_created+asc
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 153, "sort": "metadata_created asc",
        "facets": {}, "results": [{"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "6d1998c4-ba28-47a6-9395-7413c0cc32ac",
        "metadata_created": "2013-03-14T02:45:20.651593", "metadata_modified": "2020-07-21T00:06:05.510367",
        "title": "Idaho Geospatial Data Clearinghouse", "state": "active", "creator_user_id":
        "24c3ed03-6b9b-48fc-9a4a-65b572c19413", "type": "harvest", "resources": [],
        "tags": [], "source_type": "datajson", "tracking_summary": {"total": 30, "recent":
        0}, "groups": [], "relationships_as_subject": [], "name": "idaho-geospatial-data-clearinghouse",
        "url": "https://geocatalog-uidaho.hub.arcgis.com/data.json", "notes": "",
        "owner_org": "75e22a8a-da5f-46f3-93d8-924063a3703d", "extras": [], "organization":
        {"description": "The University of Idaho is a nationally-recognized research
        institution committed to student success and academic excellence that delivers
        one of the best educational values in the Pacific Northwest.", "created":
        "2013-03-14T03:44:41.687651", "title": "University of Idaho", "name": "uidaho-edu",
        "is_organization": true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/en/thumb/4/44/University_of_Idaho_seal.svg/300px-University_of_Idaho_seal.svg.png",
        "revision_id": "761955d7-9530-4622-8609-d0b01c78e177", "type": "organization",
        "id": "75e22a8a-da5f-46f3-93d8-924063a3703d", "approval_status": "approved"},
        "revision_id": "db9e88be-cda8-469f-aa4b-e23e4332aa65"}, {"relationships_as_object":
        [], "private": false, "revision_timestamp": null, "frequency": "DAILY", "id":
        "15c538b5-31a0-474e-8ba5-c85ee421cb4d", "metadata_created": "2013-08-26T19:37:37.404468",
        "metadata_modified": "2019-02-12T21:40:43.921350", "title": "Healthdata.gov",
        "state": "active", "creator_user_id": "69411", "type": "harvest", "resources":
        [], "tags": [], "source_type"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=6d1998c4-ba28-47a6-9395-7413c0cc32ac
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "6d1998c4-ba28-47a6-9395-7413c0cc32ac",
        "metadata_created": "2013-03-14T02:45:20.651593", "metadata_modified": "2020-07-21T00:06:05.510367",
        "title": "Idaho Geospatial Data Clearinghouse", "state": "active", "creator_user_id":
        "24c3ed03-6b9b-48fc-9a4a-65b572c19413", "type": "harvest", "resources": [],
        "status": {"job_count": 191, "total_datasets": 201, "last_job": {"id": "94786a3b-3a23-4f4a-a815-a06e8e2e75d0",
        "created": "2020-07-21 17:51:48.908573", "gather_started": "2020-07-21 17:54:04.343958",
        "gather_finished": "2020-07-21 17:54:20.110676", "finished": "2020-07-21 17:54:21.543585",
        "source_id": "6d1998c4-ba28-47a6-9395-7413c0cc32ac", "status": "Finished",
        "stats": {"errored": 139}, "object_error_summary": [{"message": "Identifier:
        http://geocatalog-uidaho.hub.arcgis.com/datasets/4ec5a7befd594427888a302d51fd0af0;
        Title: Historic Large Fires for Boise National Forest, Idaho for 1900 - 1997;
        1 Error(s) Found. ### ERROR #1: ''publisher'':''name'' is a required property.",
        "error_count": 1}, {"message": "Identifier: http://geocatalog-uidaho.hub.arcgis.com/datasets/b1b43bdd8a3a4893b9148633b2b3e6d0;
        Title: Aerial Imagery of Idaho (2017, 1-meter); 1 Error(s) Found. ### ERROR
        #1: ''publisher'':''name'' is a required property.", "error_count": 1}, {"message":
        "Identifier: http://geocatalog-uidaho.hub.arcgis.com/datasets/74280f66c7174f78987c45c4507322b6_0;
        Title: USGS Quadrangle Boundaries for Idaho (3.75-Minute); 2 Error(s) Found.
        ### ERROR #1: ''publisher'':''name'' is a required property;  ### ERROR #2:
        ''distribution'':[{''accessURL'': ''http://geocatalog-uidaho.hub.arcgis.com/datasets/74280f66c7174f78987c45c4507322b6_0'',
        ''mediaType'': ''text/html'', ''title'': ''ArcGIS Hub Dataset'', ''@type'':
        ''dcat:Distribution'', ''format'': ''Web Page''}, {''accessURL'': ''https://services.arcgis.com/WLhB60Nqwp4NnHz3/arcgis/rest/services/usgs_quads_3pt75minute_id/FeatureServer/0'',
        ''mediaType'': ''application/json'', ''title'': ''Esri Rest API'', ''@type'':
        ''dcat:Distribution'', ''format'': ''Esri REST''}, {''accessURL'': ''http://geocatalog-uidaho.hub.arcgis.com/datasets/74280f66c7174f78987c45c4507322b6_0.geojson?outSR={\"latestWkid\":3857,\"wkid\":102100}'',
        ''mediaType'': ''application/vnd.geo+json'', ''title'': ''GeoJSON'', ''@type'':
        ''dcat:Distribution'', ''format'': ''GeoJSON''}, {''accessURL'': ''http://geocatalog-uidaho.hub.arcgis.com/datasets/74280f66c7174f78987c45c4507322b6_0.csv?outSR={\"latestWkid\":3857,\"wkid\":102100}'',
        ''mediaType'': ''text/csv'', ''title'': ''CSV'', ''@type'': ''dcat:Distribution'',
        ''format'': ''CSV''}, {''accessURL'': ''http://geocatalog-uidaho.hub.arcgis.com/datasets/742[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=15c538b5-31a0-474e-8ba5-c85ee421cb4d
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "DAILY", "id": "15c538b5-31a0-474e-8ba5-c85ee421cb4d",
        "metadata_created": "2013-08-26T19:37:37.404468", "metadata_modified": "2019-02-12T21:40:43.921350",
        "title": "Healthdata.gov", "state": "active", "creator_user_id": "69411",
        "type": "harvest", "resources": [], "status": {"job_count": 81, "total_datasets":
        1732, "last_job": {"id": "bf70858d-5e29-4c69-b1fa-58e2582b05b5", "created":
        "2020-09-21 01:06:04.753514", "gather_started": "2020-09-21 01:13:43.803274",
        "gather_finished": "2020-09-21 01:14:57.323536", "finished": "2020-09-21 01:15:30.239093",
        "source_id": "15c538b5-31a0-474e-8ba5-c85ee421cb4d", "status": "Finished",
        "stats": {"updated": 75, "added": 1, "errored": 14, "null": 1}, "object_error_summary":
        [{"message": "Identifier: https://data.medicaid.gov/api/views/hc9x-7kex; Title:
        2017 Managed Care Programs by State; 2 Error(s) Found. ### ERROR #1: ''bureauCode''
        is a required property;  ### ERROR #2: ''programCode'' is a required property.",
        "error_count": 1}, {"message": "Identifier: https://data.cdc.gov/api/views/6pnq-x3ea;
        Title: NNDSS - TABLE 1FF. Severe acute respiratory\u200b\u200b\u200b\u200b\u200b\u200b\u200b
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=6b88bea5-cffd-4b0f-bb88-5ee1c5fdaed5
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "MANUAL", "id": "6b88bea5-cffd-4b0f-bb88-5ee1c5fdaed5",
        "metadata_created": "2014-01-13T15:14:50.114518", "metadata_modified": "2014-01-13T15:14:50.114518",
        "title": "Sample of two data.json entries", "state": "active", "creator_user_id":
        null, "config": "{\"private_datasets\": \"True\"}", "resources": [], "status":
        {"job_count": 0, "total_datasets": 0, "last_job": null}, "tags": [], "source_type":
        "datajson", "tracking_summary": {"total": 20, "recent": 0}, "groups": [],
        "active": true, "relationships_as_subject": [], "name": "sample-of-two-data-json-entries",
        "url": "http://mapcontext.com/npswaf/sample2.json", "type": "harvest", "notes":
        "", "owner_org": "ace19361-84f5-4b61-aaa0-fdd668f31f18", "private_datasets":
        "True", "extras": [{"value": "{\"private_datasets\": \"True\"}", "key": "config"}],
        "organization": {"description": "", "created": "2013-03-21T19:39:06.358236",
        "title": "Federal Geographic Data Committee", "name": "fgdc-gov", "is_organization":
        true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/US-FederalGeographicDataCommittee-Logo.svg/220px-US-FederalGeographicDataCommittee-Logo.svg.png",
        "revision_id": "3967ecc9-3aa7-4122-8469-5cba3ed12a38", "type": "organization",
        "id": "ace19361-84f5-4b61-aaa0-fdd668f31f18", "approval_status": "approved"},
        "revision_id": "e96be854-12f1-434a-831e-f8b431c7f6d1"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=de90314a-7c7d-4aff-bd84-87b134bba13d
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "DAILY", "id": "de90314a-7c7d-4aff-bd84-87b134bba13d",
        "metadata_created": "2014-02-25T20:27:27.748954", "metadata_modified": "2019-02-12T22:22:39.132777",
        "title": "Treasury JSON", "state": "active", "creator_user_id": "69411", "type":
        "harvest", "resources": [], "status": {"job_count": 2019, "total_datasets":
        277, "last_job": {"id": "6cc52555-4aa0-47ed-8045-6202eabc64fe", "created":
        "2020-09-28 01:36:03.970243", "gather_started": "2020-09-28 01:36:07.118958",
        "gather_finished": "2020-09-28 01:36:40.038895", "finished": "2020-09-28 01:41:16.169385",
        "source_id": "de90314a-7c7d-4aff-bd84-87b134bba13d", "status": "Finished",
        "stats": {}, "object_error_summary": [], "gather_error_summary": []}}, "tags":
        [], "source_type": "datajson", "tracking_summary": {"total": 75, "recent":
        0}, "groups": [], "active": true, "relationships_as_subject": [], "name":
        "treasury-json", "url": "http://www.treasury.gov/data.json", "notes": "Treasury
        JSON Harvest Source", "owner_org": "5a2fc6dd-f2cc-4bae-878b-c70576a26757",
        "extras": [{"value": "{\"private_datasets\": \"False\"}", "key": "config"}],
        "organization": {"description": "", "title": "Department of the Treasury",
        "created": "2013-05-18T11:49:27.440302", "approval_status": "approved", "is_organization":
        true, "state": "active", "image_url": "https://upload.wikimedia.org/wikipedia/commons/c/cb/Seal_of_the_United_States_Department_of_the_Treasury.svg",
        "revision_id": "bdcb3202-14a2-45f8-bf9c-fc96f3868f9b", "type": "organization",
        "id": "5a2fc6dd-f2cc-4bae-878b-c70576a26757", "name": "treasury-gov"}, "revision_id":
        "242c449f-90b8-4809-8b86-215672652393"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=d4ec346a-1bd2-427e-8dbd-62a60edcb17e
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "private": false,
        "revision_timestamp": null, "frequency": "WEEKLY", "id": "d4ec346a-1bd2-427e-8dbd-62a60edcb17e",
        "metadata_created": "2014-04-16T17:25:37.241809", "metadata_modified": "2019-03-29T20:35:18.086917",
        "title": "SFO JSON", "state": "active", "creator_user_id": null, "type": "harvest",
        "resources": [], "status": {"job_count": 313, "total_datasets": 642, "last_job":
        {"id": "0c892f84-49ce-4ad2-b685-ecdc0c550271", "created": "2020-09-23 03:51:10.517337",
        "gather_started": "2020-09-23 04:24:02.519065", "gather_finished": "2020-09-23
        04:26:14.865517", "finished": "2020-09-23 04:30:42.963898", "source_id": "d4ec346a-1bd2-427e-8dbd-62a60edcb17e",
        "status": "Finished", "stats": {"deleted": 3, "updated": 213, "added": 5,
        "errored": 31}, "object_error_summary": [{"message": "Identifier: https://data.sfgov.org/api/views/wchi-36a5;
        Title: Campaign Consultants - List of Registered Campaign Consultants and
        their Respective Clients; 1 Error(s) Found. ### ERROR #1: ''description'':''''
        is too short.", "error_count": 1}, {"message": "Identifier: https://data.sfgov.org/api/views/27u4-a5b3;
        Title: San Francisco Plant Community Areas; 1 Error(s) Found. ### ERROR #1:
        ''description'':'''' is too short.", "error_count": 1}, {"message": "Identifier:
        https://data.sfgov.org/api/views/pcra-csp6; Title: DBI Building Inspection
        Division Districts; 1 Error(s) Found. ### ERROR #1: ''description'':'''' is
        too short.", "error_count": 1}, {"message": "Identifier: https://data.sfgov.org/api/views/kepj-6rts;
        Title: Zoning Map - Special Sign Districts; 1 Error(s) Found. ### ERROR #1:
        ''description'':'''' is too short.", "error_count": 1}, {"message": "Identifier:
        https://data.sfgov.org/api/views/h6dm-b62f; Title: Zoning[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://catalog.data.gov/api/3/action/harvest_source_show?id=041cd86b-18ea-412b-8d67-2ed1d6124bbf
  response:
    body:
      string: '{"help": "https://catalog.data.gov/api/3/action/help_show?name=harvest_source_show",
        "success": true, "result": {"relationships_as_object": [], "validator_schema":
        "non-federal", "private": false, "revision_timestamp": null, "frequency":
        "MANUAL", "default_groups": "local", "id": "041cd86b-18ea-412b-8d67-2ed1d6124bbf",
        "metadata_created": "2016-06-20T19:01:33.162522", "metadata_modified": "2018-08-03T02:18:10.250605",
        "title": "WPRDC data.json", "state": "active", "creator_user_id": "69411",
        "config": "{\"default_groups\": \"local\", \"validator_schema\": \"non-federal\",
        \"private_datasets\": \"False\"}", "resources": [], "status": {"job_count":
        103, "total_datasets": 249, "last_job": {"id": "d7cd9057-a1c9-4d4c-ae4[...]
[...]
