---
name: restart application

on:
  schedule:
    - cron: '11/15 * * * *'

jobs:
  # restart-staging:
  #   name: restart (staging)
  #   environment: staging
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: checkout
  #       uses: actions/checkout@v2
  #     - name: restart
  #       uses: cloud-gov/cg-cli-tools@cli-v8
  #       with:
  #         command: cf restart catalog --strategy rolling
  #         cf_org: gsa-datagov
  #         cf_space: staging
  #         cf_username: ${{secrets.CF_SERVICE_USER}}
  #         cf_password: ${{secrets.CF_SERVICE_AUTH}}
  #     - name: restart gather
  #       uses: cloud-gov/cg-cli-tools@cli-v8
  #       with:
  #         command: cf restart catalog-gather
  #         cf_org: gsa-datagov
  #         cf_space: staging
  #         cf_username: ${{secrets.CF_SERVICE_USER}}
  #         cf_password: ${{secrets.CF_SERVICE_AUTH}}
  #     - name: restart fetch
  #       uses: cloud-gov/cg-cli-tools@cli-v8
  #       with:
  #         command: cf restart catalog-fetch
  #         cf_org: gsa-datagov
  #         cf_space: staging
  #         cf_username: ${{secrets.CF_SERVICE_USER}}
  #         cf_password: ${{secrets.CF_SERVICE_AUTH}}
  #     - name: smoke test
  #       run: |
  #         sleep 10
  #         curl --fail --silent https://catalog-stage-datagov.app.cloud.gov/api/action/status_show?$(date +%s)
  
  restart-prod:
    name: restart (prod)
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: restart
        uses: cloud-gov/cg-cli-tools@cli-v8
        with:
          command: cf restart catalog --strategy rolling
          cf_org: gsa-datagov
          cf_space: prod
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
      - name: restart gather
        uses: cloud-gov/cg-cli-tools@cli-v8
        with:
          command: cf restart catalog-gather
          cf_org: gsa-datagov
          cf_space: prod
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
      - name: restart fetch
        uses: cloud-gov/cg-cli-tools@cli-v8
        with:
          command: cf restart catalog-fetch
          cf_org: gsa-datagov
          cf_space: prod
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
      - name: smoke test
        run: |
          sleep 10
          curl --fail --silent https://catalog-prod-datagov.app.cloud.gov/api/action/status_show?$(date +%s)
