---
name: restart application

on:   # yamllint disable-line rule:truthy
  workflow_dispatch:
  schedule:
    - cron: '11/30 * * * *'

jobs:
  restart-staging:
    name: restart (staging)
    uses: gsa/data.gov/.github/workflows/app-restart-template.yml@fix-deploys
    with:
      environ: staging
      app_names: "{\"include\":[{\"app\":\"catalog-proxy\"},{\"app\":\"catalog-gather\"},{\"app\":\"catalog-fetch\"},{\"app\":\"catalog-web\"},{\"app\":\"catalog-admin\"},]}"   # yamllint disable-line rule:line-length
    secrets: inherit

  restart-prod:
    name: restart (prod)
    uses: gsa/data.gov/.github/workflows/app-restart-template.yml@main
    with:
      environ: prod
      app_names: "{\"include\":[{\"app\":\"catalog-proxy\"},{\"app\":\"catalog-gather\"},{\"app\":\"catalog-fetch\"},{\"app\":\"catalog-web\"},{\"app\":\"catalog-admin\"},]}"   # yamllint disable-line rule:line-length
    secrets: inherit
