---
name: Execute harvest run job

on:
  schedule:
    - cron: '11/15 * * * *'
  workflow_dispatch:

jobs:
  # TODO: delete when reenabled
  blank:
    name: absolutely nothing
      environemnt: development
      runs-on: ubuntu-latest
      steps:
        - name: hmm
          run: echo "hi"
#    harvest-run-staging:
#      name: harvest-run (staging)
#      environment: staging
#      runs-on: ubuntu-latest
#      env:
#        harvest_command: ${{ '''ckan harvester run''' }}
#        harvest_name: ${{ '''harvester-check-completed''' }}
#      steps:
#        - name: checkout
#          uses: actions/checkout@v2
#        - name: harvest-run
#          # pinned to cf7 until --wait is available for run-task on cf8...
#          uses: cloud-gov/cg-cli-tools@main
#          with:
#            command: |
#              cf run-task catalog --command ${{harvest_command}} --name ${{harvest_name}}
#            cf_org: gsa-datagov
#            cf_space: staging
#            cf_username: ${{secrets.CF_SERVICE_USER}}
#            cf_password: ${{secrets.CF_SERVICE_AUTH}}
#    harvest-run-prod:
#      name: harvest-run (prod)
#      environment: production
#      runs-on: ubuntu-latest
#      env:
#        harvest_command: ${{ '''ckan harvester run''' }}
#        harvest_name: ${{ '''harvester-check-completed''' }}
#      steps:
#        - name: checkout
#          uses: actions/checkout@v2
#        - name: harvest-run
#          # pinned to cf7 until --wait is available for run-task on cf8...
#          uses: cloud-gov/cg-cli-tools@main
#          with:
#            command: |
#              cf run-task catalog --command ${{harvest_command}} --name ${{harvest_name}}
#            cf_org: gsa-datagov
#            cf_space: prod
#            cf_username: ${{secrets.CF_SERVICE_USER}}
#            cf_password: ${{secrets.CF_SERVICE_AUTH}}
